content/playbooks/SpyCloud-DisableAccount-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SpyCloud - Disable Account",
    "description": "Immediately disables Entra ID user accounts confirmed as compromised by SpyCloud infostealer data. Performs account disable, session revocation, and OAuth permission audit. Use for high-severity incidents where immediate containment is required. Accounts must be manually re-enabled after investigation.",
    "prerequisites": [
      "Managed Identity requires User.ReadWrite.All and Directory.ReadWrite.All permissions",
      "Approval workflow recommended before automated disable for non-critical accounts"
    ],
    "postDeployment": [
      "Grant the Logic App managed identity User.ReadWrite.All and Directory.ReadWrite.All",
      "Configure incident tag 'RequiresReEnablement' watchlist for tracking",
      "Set up notification for disabled accounts requiring re-enablement"
    ],
    "lastUpdateTime": "2026-03-12T00:00:00.000Z",
    "support": {
      "tier": "Community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    },
    "tags": [
      "Remediation",
      "AccountDisable",
      "Containment",
      "SpyCloud"
    ]
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-DisableAccount"
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      },
      "defaultValue": "[subscription().subscriptionId]"
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      },
      "defaultValue": "[resourceGroup().name]"
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      },
      "defaultValue": ""
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Initialize_Results": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "DisableResults",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              }
            },
            "Process_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Disable_Account_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Resolve_User": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('Process_Each_Account')?['Name'], if(not(empty(items('Process_Each_Account')?['UPNSuffix'])), concat('@', items('Process_Each_Account')?['UPNSuffix']), ''))}?$select=id,userPrincipalName,displayName,accountEnabled",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {}
                    },
                    "Disable_User_Account": {
                      "type": "Http",
                      "inputs": {
                        "method": "PATCH",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Resolve_User')?['id']}",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "accountEnabled": false
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Resolve_User": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Revoke_All_Sessions": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Resolve_User')?['id']}/revokeSignInSessions",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Disable_User_Account": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Revoke_App_Consent_Grants": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Resolve_User')?['id']}/oauth2PermissionGrants",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Revoke_All_Sessions": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_Success": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "DisableResults",
                        "value": {
                          "user": "@body('Resolve_User')?['userPrincipalName']",
                          "displayName": "@body('Resolve_User')?['displayName']",
                          "previousState": "@body('Resolve_User')?['accountEnabled']",
                          "status": "Disabled",
                          "sessionsRevoked": true,
                          "timestamp": "@utcNow()"
                        }
                      },
                      "runAfter": {
                        "Revoke_App_Consent_Grants": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Disable_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Append_Failure": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "DisableResults",
                        "value": {
                          "user": "@items('Process_Each_Account')?['Name']",
                          "status": "Failed",
                          "error": "@result('Disable_Account_Scope')?[0]?['error']?['message']"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Disable_Account_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_Results": [
                  "Succeeded"
                ]
              }
            },
            "Add_Summary_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-DisableAccount:</strong> Account disable and session revocation completed.<br/>Results: @{variables('DisableResults')}<br/><em>Note: Accounts must be manually re-enabled after investigation is complete.</em></p>"
                }
              },
              "runAfter": {
                "Process_Each_Account": [
                  "Succeeded",
                  "Failed"
                ]
              }
            },
            "Update_Incident_Severity": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/incident",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "severity": "High",
                  "status": "Active",
                  "tagsToAdd": {
                    "TagsToAdd": [
                      {
                        "Tag": "SpyCloud-AccountDisabled"
                      },
                      {
                        "Tag": "RequiresReEnablement"
                      }
                    ]
                  }
                }
              },
              "runAfter": {
                "Add_Summary_Comment": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-DisableAccount-Template",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ]
}
