content/playbooks/SpyCloud-PurviewComplianceCheck-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-PurviewComplianceCheck",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "aiEngineUrl": {
      "type": "string",
      "metadata": {
        "description": "URL of the SpyCloud AI Engine Function App"
      },
      "defaultValue": ""
    },
    "notificationEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address of the compliance officer for notifications"
      },
      "defaultValue": ""
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      },
      "defaultValue": ""
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('office365ConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "aiEngineUrl": {
              "type": "String"
            },
            "notificationEmail": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionNotification",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Incident_Domain": {
              "type": "Compose",
              "inputs": "@split(coalesce(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']?[0], 'unknown'), ' ')[0]",
              "runAfter": {}
            },
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/get",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {}
            },
            "Filter_Account_Entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Extract_Entities')?['entities']",
                "where": "@equals(item()?['kind'], 'Account')"
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Extract_Domain_From_Account": {
              "type": "Compose",
              "inputs": "@if(greater(length(body('Filter_Account_Entities')), 0), split(coalesce(body('Filter_Account_Entities')[0]?['properties']?['userPrincipalName'], 'unknown@unknown.com'), '@')[1], 'unknown.com')",
              "runAfter": {
                "Filter_Account_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Check_Incident_Severity": {
              "type": "If",
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['severity']",
                      "High"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['severity']",
                      "Medium"
                    ]
                  }
                ]
              },
              "actions": {
                "Scope_Compliance_Assessment": {
                  "type": "Scope",
                  "actions": {
                    "Call_Compliance_Assessment": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('aiEngineUrl')}/api/ai/compliance-assessment",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "domain": "@{outputs('Extract_Domain_From_Account')}",
                          "frameworks": [
                            "gdpr",
                            "ccpa",
                            "hipaa",
                            "pci_dss",
                            "soc2"
                          ],
                          "includeNotificationTemplates": true,
                          "periodDays": 30
                        }
                      },
                      "runAfter": {}
                    },
                    "Parse_Assessment": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Call_Compliance_Assessment')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string"
                            },
                            "exposureCount": {
                              "type": "integer"
                            },
                            "piiClassification": {
                              "type": "object",
                              "properties": {
                                "sensitivity_level": {
                                  "type": "string"
                                },
                                "recommended_label": {
                                  "type": "string"
                                },
                                "regulatory_impact": {
                                  "type": "object"
                                }
                              }
                            },
                            "aiAssessment": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Call_Compliance_Assessment": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Call_DLP_Status": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('aiEngineUrl')}/api/ai/purview/dlp-status",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "domain": "@{outputs('Extract_Domain_From_Account')}",
                          "periodDays": 30
                        }
                      },
                      "runAfter": {
                        "Parse_Assessment": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Check_Notification_Required": {
                      "type": "If",
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@body('Parse_Assessment')?['piiClassification']?['sensitivity_level']",
                              "Highly Confidential"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Send_Compliance_Notification": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/v2/Mail",
                            "body": {
                              "To": "@parameters('notificationEmail')",
                              "Subject": "[URGENT] SpyCloud Breach Compliance Alert - @{outputs('Extract_Domain_From_Account')} - Incident #@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                              "Body": "<html><body><h2 style='color:#c00'>Breach Notification Assessment Required</h2><p>A SpyCloud incident has been classified as <strong>@{body('Parse_Assessment')?['piiClassification']?['sensitivity_level']}</strong> requiring potential regulatory notification.</p><h3>Incident Details</h3><ul><li><strong>Incident:</strong> #@{triggerBody()?['object']?['properties']?['incidentNumber']}</li><li><strong>Domain:</strong> @{outputs('Extract_Domain_From_Account')}</li><li><strong>Exposure Count:</strong> @{body('Parse_Assessment')?['exposureCount']}</li><li><strong>Sensitivity Level:</strong> @{body('Parse_Assessment')?['piiClassification']?['sensitivity_level']}</li><li><strong>Recommended Purview Label:</strong> @{body('Parse_Assessment')?['piiClassification']?['recommended_label']}</li></ul><h3>AI Compliance Assessment</h3><pre>@{body('Parse_Assessment')?['aiAssessment']}</pre><p style='color:#666;font-size:11px'>This is an automated notification from the SpyCloud Purview Compliance Check playbook. Please review within the applicable notification timeline.</p></body></html>",
                              "Importance": "High"
                            }
                          }
                        },
                        "Tag_Incident_Compliance": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "put",
                            "path": "/Incidents",
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "tagsToAdd": {
                                "TagsToAdd": [
                                  {
                                    "Tag": "Compliance:NotificationRequired"
                                  },
                                  {
                                    "Tag": "Purview:HighlyConfidential"
                                  },
                                  {
                                    "Tag": "GDPR:72HourNotice"
                                  }
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Send_Compliance_Notification": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Call_DLP_Status": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Add_Assessment_Comment": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>Purview Compliance Assessment</strong></p><p><strong>Domain:</strong> @{outputs('Extract_Domain_From_Account')}</p><p><strong>Sensitivity Level:</strong> @{body('Parse_Assessment')?['piiClassification']?['sensitivity_level']}</p><p><strong>Recommended Label:</strong> @{body('Parse_Assessment')?['piiClassification']?['recommended_label']}</p><p><strong>Exposures:</strong> @{body('Parse_Assessment')?['exposureCount']}</p><hr/><p><strong>AI Assessment Summary:</strong></p><pre>@{substring(body('Parse_Assessment')?['aiAssessment'], 0, min(length(body('Parse_Assessment')?['aiAssessment']), 2000))}</pre><p><em>Full assessment available in compliance notification email. Powered by SpyCloud AI Engine + Microsoft Purview.</em></p>"
                        }
                      },
                      "runAfter": {
                        "Check_Notification_Required": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                },
                "Scope_Compliance_Catch": {
                  "type": "Scope",
                  "actions": {
                    "Add_Comment_Assessment_Failure": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>SpyCloud Purview Compliance Check:</strong> Failed to generate compliance assessment. Please verify the AI Engine Function App is healthy and accessible, and that the managed identity has required Graph API permissions (InformationProtectionPolicy.Read.All, SecurityEvents.Read.All, AuditLog.Read.All).</p>"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Scope_Compliance_Assessment": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Add_Comment_Low_Severity": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/Incidents/Comment",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "<p><strong>Purview Compliance Check:</strong> Incident severity is Low/Informational. Compliance assessment deferred. Upgrade incident severity to Medium or High to trigger full regulatory assessment.</p>"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Extract_Domain_From_Account": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "aiEngineUrl": {
            "value": "[parameters('aiEngineUrl')]"
          },
          "notificationEmail": {
            "value": "[parameters('notificationEmail')]"
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-PurviewComplianceCheck",
        "hidden-SentinelTemplateVersion": "13.12.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  },
  "metadata": {
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)",
        "Compliance"
      ]
    },
    "prerequisites": [
      "SpyCloud AI Engine Function App deployed and accessible",
      "Microsoft Purview account with Compliance Manager enabled",
      "Office 365 connector for compliance notification emails",
      "Managed Identity with InformationProtectionPolicy.Read.All, SecurityEvents.Read.All, AuditLog.Read.All permissions"
    ]
  }
}
