content/playbooks/SpyCloud-InvestigationsLookup-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "SpyCloud Sentinel Integration",
      "version": "1.0.0"
    },
    "title": "SpyCloud - Investigations Lookup",
    "description": "Performs deep lookups using the SpyCloud Investigations API to retrieve comprehensive breach data for entities in a Sentinel incident. Returns detailed records including passwords, hashes, IPs, and malware details for forensic investigation.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "SpyCloud Investigations API key (separate from Enterprise API)",
      "Managed Identity with Sentinel Responder role"
    ],
    "lastUpdateTime": "2026-03-11T00:00:00.000Z",
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Threat Protection"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-InvestigationsLookup",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      },
      "defaultValue": "[subscription().subscriptionId]"
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      },
      "defaultValue": "[resourceGroup().name]"
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      },
      "defaultValue": ""
    },
    "SpyCloudInvestigationsApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SpyCloud Investigations API key"
      },
      "defaultValue": ""
    },
    "SpyCloudInvestigationsApiUrl": {
      "type": "string",
      "defaultValue": "https://api.spycloud.io/investigations-v2",
      "metadata": {
        "description": "SpyCloud Investigations API base URL"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Entities_-_Get_IPs": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/ip",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Initialize_InvestigationResults": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "InvestigationResults",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_TotalRecords": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "TotalRecords",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {}
            },
            "Process_Accounts_For_Investigation": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Investigate_Account_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Resolve_Email": {
                      "type": "Compose",
                      "inputs": "@concat(items('Process_Accounts_For_Investigation')?['Name'], if(not(empty(items('Process_Accounts_For_Investigation')?['UPNSuffix'])), concat('@', items('Process_Accounts_For_Investigation')?['UPNSuffix']), ''))",
                      "runAfter": {}
                    },
                    "Query_Investigations_API_Email": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('SpyCloudInvestigationsApiUrl')}/breach/data/emails/@{outputs('Resolve_Email')}",
                        "headers": {
                          "X-API-Key": "@parameters('SpyCloudInvestigationsApiKey')",
                          "Accept": "application/json"
                        },
                        "queries": {
                          "severity": "2,5,20,25",
                          "limit": "100"
                        }
                      },
                      "runAfter": {
                        "Resolve_Email": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Parse_Investigations_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Query_Investigations_API_Email')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "hits": {
                              "type": "integer"
                            },
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "severity": {
                                    "type": "integer"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "password": {
                                    "type": "string"
                                  },
                                  "password_plaintext": {
                                    "type": "string"
                                  },
                                  "password_type": {
                                    "type": "string"
                                  },
                                  "ip_addresses": {
                                    "type": "array"
                                  },
                                  "infected_machine_id": {
                                    "type": "string"
                                  },
                                  "infected_path": {
                                    "type": "string"
                                  },
                                  "target_url": {
                                    "type": "string"
                                  },
                                  "source_id": {
                                    "type": "integer"
                                  },
                                  "spycloud_publish_date": {
                                    "type": "string"
                                  },
                                  "document_id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Query_Investigations_API_Email": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Update_Total_Records": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "TotalRecords",
                        "value": "@add(variables('TotalRecords'), body('Parse_Investigations_Response')?['hits'])"
                      },
                      "runAfter": {
                        "Parse_Investigations_Response": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_Investigation_Result": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "InvestigationResults",
                        "value": {
                          "entity": "@outputs('Resolve_Email')",
                          "entityType": "email",
                          "totalHits": "@body('Parse_Investigations_Response')?['hits']",
                          "malwareRecords": "@length(intersection(body('Parse_Investigations_Response')?['results'], body('Parse_Investigations_Response')?['results']))",
                          "hasPlaintextPasswords": "@contains(string(body('Parse_Investigations_Response')?['results']), 'password_plaintext')",
                          "targetUrls": "@length(body('Parse_Investigations_Response')?['results'])"
                        }
                      },
                      "runAfter": {
                        "Update_Total_Records": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Account_Investigation_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Append_Account_Error": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "InvestigationResults",
                        "value": {
                          "entity": "@items('Process_Accounts_For_Investigation')?['Name']",
                          "entityType": "email",
                          "error": "Failed to query Investigations API"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Investigate_Account_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ],
                "Initialize_InvestigationResults": [
                  "Succeeded"
                ],
                "Initialize_TotalRecords": [
                  "Succeeded"
                ]
              }
            },
            "Process_IPs_For_Investigation": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
              "actions": {
                "Investigate_IP_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Query_Investigations_API_IP": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('SpyCloudInvestigationsApiUrl')}/breach/data/ips/@{items('Process_IPs_For_Investigation')?['Address']}",
                        "headers": {
                          "X-API-Key": "@parameters('SpyCloudInvestigationsApiKey')",
                          "Accept": "application/json"
                        },
                        "queries": {
                          "limit": "50"
                        }
                      },
                      "runAfter": {}
                    },
                    "Append_IP_Investigation_Result": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "InvestigationResults",
                        "value": {
                          "entity": "@items('Process_IPs_For_Investigation')?['Address']",
                          "entityType": "ip",
                          "totalHits": "@body('Query_Investigations_API_IP')?['hits']"
                        }
                      },
                      "runAfter": {
                        "Query_Investigations_API_IP": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Entities_-_Get_IPs": [
                  "Succeeded"
                ],
                "Initialize_InvestigationResults": [
                  "Succeeded"
                ]
              }
            },
            "Update_Incident_With_Investigation": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/incident",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "tagsToAdd": {
                    "TagsToAdd": [
                      "SpyCloud-Investigated"
                    ]
                  }
                }
              },
              "runAfter": {
                "Process_Accounts_For_Investigation": [
                  "Succeeded"
                ],
                "Process_IPs_For_Investigation": [
                  "Succeeded"
                ]
              }
            },
            "Add_Investigation_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-InvestigationsLookup:</strong> Deep investigation complete.<br/><strong>Total Records Found:</strong> @{variables('TotalRecords')}<br/><strong>Entities Investigated:</strong> @{length(variables('InvestigationResults'))}<br/><strong>Details:</strong><br/>@{string(variables('InvestigationResults'))}</p>"
                }
              },
              "runAfter": {
                "Update_Incident_With_Investigation": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "SpyCloudInvestigationsApiKey": {
              "type": "SecureString",
              "defaultValue": "[parameters('SpyCloudInvestigationsApiKey')]"
            },
            "SpyCloudInvestigationsApiUrl": {
              "type": "String",
              "defaultValue": "[parameters('SpyCloudInvestigationsApiUrl')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-InvestigationsLookup-Template",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
