content/playbooks/SpyCloud-IsolateDevice-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "templateMetadata": {
    "templateVersion": "1.0.0",
    "templateId": "spycloud-isolate-device",
    "category": "Remediation",
    "requiredPermissions": [
      "Microsoft.OperationalInsights/workspaces/read",
      "Microsoft.Logic/workflows/write",
      "Microsoft.Web/connections/write"
    ],
    "requiredLicenses": [
      "Microsoft Sentinel",
      "Microsoft Defender for Endpoint P2"
    ],
    "connectorAssociation": [
      "azuresentinel",
      "microsoftdefenderatp"
    ],
    "deployAsTemplate": true
  },
  "metadata": {
    "_generator": {
      "name": "SpyCloud Sentinel Integration",
      "version": "1.0.0"
    },
    "title": "SpyCloud - Isolate Device",
    "description": "Isolates compromised devices via Microsoft Defender for Endpoint based on SpyCloud severity. Full isolation for severity >= 25, selective isolation otherwise.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "Microsoft Defender for Endpoint",
      "Managed Identity with Machine.Isolate permissions on MDE API"
    ],
    "lastUpdateTime": "2026-03-11T00:00:00.000Z",
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Threat Protection"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-IsolateDevice",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      },
      "defaultValue": "[subscription().subscriptionId]"
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      },
      "defaultValue": "[resourceGroup().name]"
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      },
      "defaultValue": ""
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Hosts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/host",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Parse_SpyCloud_Severity": {
              "type": "Compose",
              "inputs": "@coalesce(triggerBody()?['object']?['properties']?['additionalData']?['SpyCloudSeverity'], '5')",
              "runAfter": {}
            },
            "Initialize_IsolationType": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "IsolationType",
                    "type": "string",
                    "value": "Selective"
                  }
                ]
              },
              "runAfter": {
                "Parse_SpyCloud_Severity": [
                  "Succeeded"
                ]
              }
            },
            "Determine_Isolation_Type": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@int(outputs('Parse_SpyCloud_Severity'))",
                      25
                    ]
                  }
                ]
              },
              "actions": {
                "Set_Full_Isolation": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "IsolationType",
                    "value": "Full"
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {
                  "Set_Selective_Isolation": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "IsolationType",
                      "value": "Selective"
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Initialize_IsolationType": [
                  "Succeeded"
                ]
              }
            },
            "Process_Each_Host": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
              "actions": {
                "Isolate_Device_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Lookup_MDE_Machine": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://api.securitycenter.microsoft.com/api/machines?$filter=computerDnsName eq '@{items('Process_Each_Host')?['HostName']}'",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://api.securitycenter.microsoft.com"
                        }
                      },
                      "runAfter": {}
                    },
                    "Check_Machine_Found": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Lookup_MDE_Machine')?['value'])",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Isolate_Machine": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://api.securitycenter.microsoft.com/api/machines/@{body('Lookup_MDE_Machine')?['value']?[0]?['id']}/isolate",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "Comment": "SpyCloud: Automated isolation due to credential exposure incident @{triggerBody()?['object']?['properties']?['incidentNumber']}",
                              "IsolationType": "@{variables('IsolationType')}"
                            },
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://api.securitycenter.microsoft.com"
                            }
                          },
                          "runAfter": {}
                        },
                        "Comment_Isolation_Success": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/incident-comments",
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>SpyCloud-IsolateDevice:</strong> Device <strong>@{items('Process_Each_Host')?['HostName']}</strong> isolated (@{variables('IsolationType')} isolation). MDE Machine ID: @{body('Lookup_MDE_Machine')?['value']?[0]?['id']}</p>"
                            }
                          },
                          "runAfter": {
                            "Isolate_Machine": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Comment_Machine_Not_Found": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                              },
                              "method": "post",
                              "path": "/incident-comments",
                              "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "<p><strong>SpyCloud-IsolateDevice:</strong> Host <strong>@{items('Process_Each_Host')?['HostName']}</strong> not found in Microsoft Defender for Endpoint. Manual investigation required.</p>"
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      },
                      "runAfter": {
                        "Lookup_MDE_Machine": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Isolation_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Comment_Isolation_Failure": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/incident-comments",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>SpyCloud-IsolateDevice:</strong> Failed to isolate <strong>@{items('Process_Each_Host')?['HostName']}</strong>. Error occurred during MDE API call. Manual isolation required.</p>"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Isolate_Device_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ],
                "Determine_Isolation_Type": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-IsolateDevice-Template",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
