templates/playbooks/SpyCloud-ExposureAssessment-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "templateMetadata": {
    "templateVersion": "1.0.0",
    "templateId": "spycloud-exposure-assessment",
    "category": "Enrichment",
    "requiredPermissions": [
      "Microsoft.OperationalInsights/workspaces/read",
      "Microsoft.Logic/workflows/write",
      "Microsoft.Web/connections/write"
    ],
    "requiredLicenses": [
      "Microsoft Sentinel",
      "SpyCloud Enterprise API (Exposure endpoint)"
    ],
    "connectorAssociation": [
      "azuresentinel"
    ],
    "deployAsTemplate": true
  },
  "metadata": {
    "_generator": {
      "name": "SpyCloud Sentinel Integration",
      "version": "1.0.0"
    },
    "title": "SpyCloud - Exposure Assessment",
    "description": "Uses the SpyCloud Exposure API to perform a risk assessment of compromised accounts. Evaluates exposure severity, breach recency, credential types, and malware infection indicators to generate a composite risk score.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "SpyCloud Enterprise API key with exposure access",
      "Managed Identity with Sentinel Responder role"
    ],
    "lastUpdateTime": "2026-03-11T00:00:00.000Z",
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Threat Protection"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-ExposureAssessment",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    },
    "SpyCloudApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SpyCloud API key"
      }
    },
    "SpyCloudApiUrl": {
      "type": "string",
      "defaultValue": "https://api.spycloud.io/enterprise-v2",
      "metadata": {
        "description": "SpyCloud Enterprise API base URL"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Initialize_AssessmentResults": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AssessmentResults",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_OverallRiskScore": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "OverallRiskScore",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_IncidentTags": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "IncidentTags",
                    "type": "array",
                    "value": [
                      "SpyCloud-Exposure-Assessed"
                    ]
                  }
                ]
              },
              "runAfter": {}
            },
            "Process_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Exposure_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Resolve_Email": {
                      "type": "Compose",
                      "inputs": "@concat(items('Process_Each_Account')?['Name'], if(not(empty(items('Process_Each_Account')?['UPNSuffix'])), concat('@', items('Process_Each_Account')?['UPNSuffix']), ''))",
                      "runAfter": {}
                    },
                    "Query_Exposure_API": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('SpyCloudApiUrl')}/breach/data/emails/@{outputs('Resolve_Email')}",
                        "headers": {
                          "X-API-Key": "@parameters('SpyCloudApiKey')",
                          "Accept": "application/json"
                        },
                        "queries": {
                          "since": "@addDays(utcNow(), -365, 'yyyy-MM-dd')",
                          "severity": "2,5,20,25"
                        }
                      },
                      "runAfter": {
                        "Resolve_Email": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Parse_Exposure_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Query_Exposure_API')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "hits": {
                              "type": "integer"
                            },
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "severity": {
                                    "type": "integer"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "document_id": {
                                    "type": "string"
                                  },
                                  "spycloud_publish_date": {
                                    "type": "string"
                                  },
                                  "infected_machine_id": {
                                    "type": "string"
                                  },
                                  "password_type": {
                                    "type": "string"
                                  },
                                  "sighting": {
                                    "type": "integer"
                                  },
                                  "source_id": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Query_Exposure_API": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Calculate_User_Risk_Score": {
                      "type": "Compose",
                      "inputs": {
                        "baseScore": "@mul(body('Parse_Exposure_Response')?['hits'], 5)",
                        "hasMalware": "@contains(string(body('Parse_Exposure_Response')?['results']), 'infected_machine_id')",
                        "hasRecentExposure": "@greater(body('Parse_Exposure_Response')?['hits'], 0)"
                      },
                      "runAfter": {
                        "Parse_Exposure_Response": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Determine_Risk_Level": {
                      "type": "Compose",
                      "inputs": "@if(greaterOrEquals(outputs('Calculate_User_Risk_Score')?['baseScore'], 100), 'Critical', if(greaterOrEquals(outputs('Calculate_User_Risk_Score')?['baseScore'], 50), 'High', if(greaterOrEquals(outputs('Calculate_User_Risk_Score')?['baseScore'], 20), 'Medium', 'Low')))",
                      "runAfter": {
                        "Calculate_User_Risk_Score": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Add_Risk_Tags": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@outputs('Calculate_User_Risk_Score')?['hasMalware']",
                              true
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Add_Malware_Risk_Tag": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "IncidentTags",
                            "value": "SpyCloud-Malware-Exposure"
                          },
                          "runAfter": {}
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Determine_Risk_Level": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_Assessment_Result": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "AssessmentResults",
                        "value": {
                          "email": "@outputs('Resolve_Email')",
                          "exposureCount": "@body('Parse_Exposure_Response')?['hits']",
                          "riskScore": "@outputs('Calculate_User_Risk_Score')?['baseScore']",
                          "riskLevel": "@outputs('Determine_Risk_Level')",
                          "malwareExposure": "@outputs('Calculate_User_Risk_Score')?['hasMalware']"
                        }
                      },
                      "runAfter": {
                        "Add_Risk_Tags": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Exposure_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Append_Exposure_Error": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "AssessmentResults",
                        "value": {
                          "email": "@items('Process_Each_Account')?['Name']",
                          "error": "Failed to query Exposure API"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Exposure_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ],
                "Initialize_AssessmentResults": [
                  "Succeeded"
                ],
                "Initialize_OverallRiskScore": [
                  "Succeeded"
                ],
                "Initialize_IncidentTags": [
                  "Succeeded"
                ]
              }
            },
            "Update_Incident_With_Assessment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/incident",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "tagsToAdd": {
                    "TagsToAdd": "@variables('IncidentTags')"
                  }
                }
              },
              "runAfter": {
                "Process_Each_Account": [
                  "Succeeded"
                ]
              }
            },
            "Add_Assessment_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-ExposureAssessment:</strong> Risk assessment complete.<br/><strong>Accounts Assessed:</strong> @{length(variables('AssessmentResults'))}<br/><strong>Assessment Details:</strong><br/>@{string(variables('AssessmentResults'))}</p>"
                }
              },
              "runAfter": {
                "Update_Incident_With_Assessment": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "SpyCloudApiKey": {
              "type": "SecureString",
              "defaultValue": "[parameters('SpyCloudApiKey')]"
            },
            "SpyCloudApiUrl": {
              "type": "String",
              "defaultValue": "[parameters('SpyCloudApiUrl')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-ExposureAssessment-Template",
        "hidden-SentinelTemplateVersion": "13.12.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}