templates/playbooks/SpyCloud-FullRemediation-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "templateMetadata": {
    "templateVersion": "1.0.0",
    "templateId": "spycloud-full-remediation",
    "category": "Remediation",
    "requiredPermissions": [
      "Microsoft.OperationalInsights/workspaces/read",
      "Microsoft.Logic/workflows/write",
      "Microsoft.Web/connections/write"
    ],
    "requiredLicenses": [
      "Microsoft Sentinel",
      "Azure Active Directory P1",
      "Microsoft Defender for Endpoint P2"
    ],
    "connectorAssociation": [
      "azuresentinel",
      "microsoftgraphsecurity",
      "microsoftdefenderatp"
    ],
    "deployAsTemplate": true
  },
  "metadata": {
    "_generator": {
      "name": "SpyCloud Sentinel Integration",
      "version": "1.0.0"
    },
    "title": "SpyCloud - Full Remediation",
    "description": "Orchestrates a comprehensive remediation workflow: forces password reset, revokes sessions, enforces MFA, and optionally isolates devices. Severity-driven escalation determines which actions are taken.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "Managed Identity with User.ReadWrite.All, GroupMember.ReadWrite.All, Machine.Isolate permissions",
      "Pre-configured MFA enforcement group in Azure AD"
    ],
    "lastUpdateTime": "2026-03-11T00:00:00.000Z",
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Threat Protection"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-FullRemediation",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    },
    "MFAGroupObjectId": {
      "type": "string",
      "metadata": {
        "description": "Object ID of the Azure AD group that enforces MFA via Conditional Access"
      }
    },
    "IsolateHighSeverityDevices": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Whether to isolate devices for high-severity incidents (severity >= 25)"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Entities_-_Get_Hosts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/host",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Initialize_RemediationSummary": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RemediationSummary",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {}
            },
            "Parse_Incident_Severity": {
              "type": "Compose",
              "inputs": "@coalesce(triggerBody()?['object']?['properties']?['severity'], 'Medium')",
              "runAfter": {}
            },
            "Process_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Account_Remediation_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Get_User": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{items('Process_Each_Account')?['Name']}@{if(not(empty(items('Process_Each_Account')?['UPNSuffix'])), concat('@', items('Process_Each_Account')?['UPNSuffix']), '')}",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {}
                    },
                    "Step1_Force_Password_Reset": {
                      "type": "Http",
                      "inputs": {
                        "method": "PATCH",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_User')?['id']}",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "passwordProfile": {
                            "forceChangePasswordNextSignIn": true,
                            "forceChangePasswordNextSignInWithMfa": true
                          }
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Get_User": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Step2_Revoke_Sessions": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_User')?['id']}/revokeSignInSessions",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Step1_Force_Password_Reset": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Step3_Add_To_MFA_Group": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://graph.microsoft.com/v1.0/groups/@{parameters('MFAGroupObjectId')}/members/$ref",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{body('Get_User')?['id']}"
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Step2_Revoke_Sessions": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_Account_Summary": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "RemediationSummary",
                        "value": "Account @{body('Get_User')?['userPrincipalName']}: password reset forced, sessions revoked, MFA enforced"
                      },
                      "runAfter": {
                        "Step3_Add_To_MFA_Group": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Account_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Append_Account_Error": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "RemediationSummary",
                        "value": "Account @{items('Process_Each_Account')?['Name']}: FAILED - manual remediation required"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Account_Remediation_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ],
                "Initialize_RemediationSummary": [
                  "Succeeded"
                ]
              }
            },
            "Check_If_Device_Isolation_Needed": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Parse_Incident_Severity')",
                      "High"
                    ]
                  },
                  {
                    "equals": [
                      "@parameters('IsolateHighSeverityDevices')",
                      true
                    ]
                  }
                ]
              },
              "actions": {
                "Process_Each_Host": {
                  "type": "Foreach",
                  "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                  "actions": {
                    "Isolate_Scope": {
                      "type": "Scope",
                      "actions": {
                        "Lookup_MDE_Machine": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://api.securitycenter.microsoft.com/api/machines?$filter=computerDnsName eq '@{items('Process_Each_Host')?['HostName']}'",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://api.securitycenter.microsoft.com"
                            }
                          },
                          "runAfter": {}
                        },
                        "Isolate_If_Found": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Lookup_MDE_Machine')?['value'])",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Isolate_Machine": {
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "https://api.securitycenter.microsoft.com/api/machines/@{body('Lookup_MDE_Machine')?['value']?[0]?['id']}/isolate",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "Comment": "SpyCloud Full Remediation: Device isolation for high-severity incident",
                                  "IsolationType": "Full"
                                },
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://api.securitycenter.microsoft.com"
                                }
                              },
                              "runAfter": {}
                            },
                            "Append_Device_Summary": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "RemediationSummary",
                                "value": "Device @{items('Process_Each_Host')?['HostName']}: isolated (Full)"
                              },
                              "runAfter": {
                                "Isolate_Machine": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "runAfter": {
                            "Lookup_MDE_Machine": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Process_Each_Account": [
                  "Succeeded"
                ],
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ],
                "Parse_Incident_Severity": [
                  "Succeeded"
                ]
              }
            },
            "Add_Remediation_Summary_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-FullRemediation:</strong> Remediation workflow complete.<br/><strong>Actions Taken:</strong><br/>@{join(variables('RemediationSummary'), '<br/>')}</p>"
                }
              },
              "runAfter": {
                "Check_If_Device_Isolation_Needed": [
                  "Succeeded",
                  "Skipped"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "MFAGroupObjectId": {
              "type": "String",
              "defaultValue": "[parameters('MFAGroupObjectId')]"
            },
            "IsolateHighSeverityDevices": {
              "type": "Bool",
              "defaultValue": "[parameters('IsolateHighSeverityDevices')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-FullRemediation-Template",
        "hidden-SentinelTemplateVersion": "13.12.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}