templates/playbooks/SpyCloud-ForcePasswordReset-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "templateMetadata": {
    "templateVersion": "1.0.0",
    "templateId": "spycloud-force-password-reset",
    "category": "Remediation",
    "requiredPermissions": [
      "Microsoft.OperationalInsights/workspaces/read",
      "Microsoft.Logic/workflows/write",
      "Microsoft.Web/connections/write"
    ],
    "requiredLicenses": [
      "Microsoft Sentinel",
      "Azure Active Directory P1"
    ],
    "connectorAssociation": [
      "azuresentinel",
      "microsoftgraphsecurity"
    ],
    "deployAsTemplate": true
  },
  "metadata": {
    "_generator": { "name": "SpyCloud Sentinel Integration", "version": "1.0.0" },
    "title": "SpyCloud - Force Password Reset",
    "description": "Forces a password reset with MFA for compromised accounts identified by SpyCloud breach data. Triggered by a Microsoft Sentinel incident.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "Managed Identity with User.ReadWrite.All permissions on Microsoft Graph"
    ],
    "lastUpdateTime": "2026-03-11T00:00:00.000Z",
    "support": { "tier": "community" },
    "author": { "name": "SpyCloud" },
    "categories": { "domains": ["Security - Threat Protection"] }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-ForcePasswordReset",
      "metadata": { "description": "Name of the Logic App playbook" }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": { "description": "Azure Subscription ID" }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": { "description": "Resource group for this deployment" }
    },
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel workspace name" }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Process_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Force_Password_Reset_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Get_User_From_Graph": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{items('Process_Each_Account')?['Name']}@{if(not(empty(items('Process_Each_Account')?['UPNSuffix'])), concat('@', items('Process_Each_Account')?['UPNSuffix']), '')}",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {}
                    },
                    "Force_Password_Change_On_Next_SignIn": {
                      "type": "Http",
                      "inputs": {
                        "method": "PATCH",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_User_From_Graph')?['id']}",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "passwordProfile": {
                            "forceChangePasswordNextSignIn": true,
                            "forceChangePasswordNextSignInWithMfa": true
                          }
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Get_User_From_Graph": ["Succeeded"]
                      }
                    },
                    "Add_Incident_Comment_Success": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/incident-comments",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>SpyCloud-ForcePasswordReset:</strong> Password reset forced for user <strong>@{body('Get_User_From_Graph')?['userPrincipalName']}</strong>. User must change password with MFA on next sign-in.</p>"
                        }
                      },
                      "runAfter": {
                        "Force_Password_Change_On_Next_SignIn": ["Succeeded"]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Password_Reset_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Add_Incident_Comment_Failure": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/incident-comments",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>SpyCloud-ForcePasswordReset:</strong> Failed to force password reset for <strong>@{items('Process_Each_Account')?['Name']}</strong>. Error: @{result('Force_Password_Reset_Scope')?[0]?['error']?['message']}</p>"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Force_Password_Reset_Scope": ["Failed", "TimedOut"]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": ["Succeeded"]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
