templates/playbooks/SpyCloud-BlockFirewall-Template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "templateMetadata": {
    "templateVersion": "1.0.0",
    "templateId": "spycloud-block-firewall",
    "category": "Remediation",
    "requiredPermissions": [
      "Microsoft.OperationalInsights/workspaces/read",
      "Microsoft.Logic/workflows/write",
      "Microsoft.Web/connections/write"
    ],
    "requiredLicenses": [
      "Microsoft Sentinel",
      "Azure Firewall or third-party firewall with API"
    ],
    "connectorAssociation": [
      "azuresentinel"
    ],
    "deployAsTemplate": true
  },
  "metadata": {
    "_generator": {
      "name": "SpyCloud Sentinel Integration",
      "version": "1.0.0"
    },
    "title": "SpyCloud - Block IP on Firewall",
    "description": "Blocks malicious IP addresses associated with SpyCloud breach data on Azure Firewall or a supported third-party firewall. Extracts IPs from incident entities and adds them to a deny list.",
    "prerequisites": [
      "Microsoft Sentinel workspace",
      "Managed Identity with Network Contributor role or firewall API access"
    ],
    "lastUpdateTime": "2026-03-11T00:00:00.000Z",
    "support": {
      "tier": "community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Network Security"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-BlockFirewall",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    },
    "FirewallResourceId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Resource ID of the Azure Firewall (leave empty if using third-party firewall API)"
      }
    },
    "FirewallRuleCollectionName": {
      "type": "string",
      "defaultValue": "SpyCloud-BlockList",
      "metadata": {
        "description": "Name of the firewall rule collection for blocked IPs"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_IPs": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/ip",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Initialize_BlockedIPs": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BlockedIPs",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {}
            },
            "Process_Each_IP": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
              "actions": {
                "Block_IP_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Add_IP_To_TI": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/threatintelligence/createIndicator",
                        "body": {
                          "workspaceId": "@parameters('WorkspaceId')",
                          "indicatorType": "ipv4-addr",
                          "pattern": "[ipv4-addr:value = '@{items('Process_Each_IP')?['Address']}']",
                          "threatType": "compromised",
                          "confidence": 85,
                          "description": "SpyCloud: IP associated with credential exposure incident @{triggerBody()?['object']?['properties']?['incidentNumber']}",
                          "action": "block",
                          "validFrom": "@utcNow()",
                          "validUntil": "@addDays(utcNow(), 30)"
                        }
                      },
                      "runAfter": {}
                    },
                    "Append_Blocked_IP": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "BlockedIPs",
                        "value": "@items('Process_Each_IP')?['Address']"
                      },
                      "runAfter": {
                        "Add_IP_To_TI": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Block_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Log_Block_Failure": {
                      "type": "Compose",
                      "inputs": "Failed to block IP @{items('Process_Each_IP')?['Address']}",
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Block_IP_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_IPs": [
                  "Succeeded"
                ],
                "Initialize_BlockedIPs": [
                  "Succeeded"
                ]
              }
            },
            "Add_Summary_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-BlockFirewall:</strong> Blocked <strong>@{length(variables('BlockedIPs'))}</strong> IP(s) via Threat Intelligence indicators: @{join(variables('BlockedIPs'), ', ')}</p>"
                }
              },
              "runAfter": {
                "Process_Each_IP": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "WorkspaceId": {
              "type": "String",
              "defaultValue": ""
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-BlockFirewall-Template",
        "hidden-SentinelTemplateVersion": "13.12.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}