Solutions/SpyCloud Identity Exposure Intelligence/Playbooks/SpyCloud-AddToSecurityGroup-Template/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SpyCloud - Add to Security Group",
    "description": "Automatically adds compromised users to tiered Azure AD security groups based on SpyCloud severity. Severity 25+ maps to High Risk, 20+ to Medium Risk, and all exposures to a Compromised Users group. These groups can be targeted by Conditional Access policies for graduated access restrictions.",
    "prerequisites": [
      "Three Azure AD security groups must exist: CompromisedUsers, HighRisk, MediumRisk",
      "Managed Identity requires Group.ReadWrite.All and User.Read.All permissions in Microsoft Graph",
      "Conditional Access policies should target these security groups"
    ],
    "postDeployment": [
      "Grant the Logic App managed identity Group.ReadWrite.All and User.Read.All permissions",
      "Configure Conditional Access policies to target the security groups",
      "Test with a known compromised test account"
    ],
    "lastUpdateTime": "2026-03-12T00:00:00.000Z",
    "support": {
      "tier": "Community"
    },
    "author": {
      "name": "SpyCloud"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    },
    "tags": [
      "Remediation",
      "ConditionalAccess",
      "SecurityGroups",
      "SpyCloud"
    ]
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-AddToSecurityGroup"
    },
    "CompromisedUsersGroupId": {
      "type": "string",
      "metadata": {
        "description": "Azure AD security group ID for all compromised users"
      }
    },
    "HighRiskGroupId": {
      "type": "string",
      "metadata": {
        "description": "Azure AD security group ID for high-risk users (severity >= 25)"
      }
    },
    "MediumRiskGroupId": {
      "type": "string",
      "metadata": {
        "description": "Azure AD security group ID for medium-risk users (severity >= 20)"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Parse_SpyCloud_Severity": {
              "type": "Compose",
              "inputs": "@coalesce(triggerBody()?['object']?['properties']?['additionalData']?['SpyCloudSeverity'], '20')",
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_Results": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "GroupResults",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {
                "Parse_SpyCloud_Severity": [
                  "Succeeded"
                ]
              }
            },
            "Determine_Target_Groups": {
              "type": "Compose",
              "inputs": {
                "addToCompromised": true,
                "addToHighRisk": "@greaterOrEquals(int(outputs('Parse_SpyCloud_Severity')), 25)",
                "addToMediumRisk": "@and(greaterOrEquals(int(outputs('Parse_SpyCloud_Severity')), 20), less(int(outputs('Parse_SpyCloud_Severity')), 25))"
              },
              "runAfter": {
                "Initialize_Results": [
                  "Succeeded"
                ]
              }
            },
            "Process_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Add_To_Groups_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Resolve_User": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('Process_Each_Account')?['Name'], if(not(empty(items('Process_Each_Account')?['UPNSuffix'])), concat('@', items('Process_Each_Account')?['UPNSuffix']), ''))}?$select=id,userPrincipalName,displayName",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {}
                    },
                    "Add_To_Compromised_Users_Group": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://graph.microsoft.com/v1.0/groups/@{parameters('CompromisedUsersGroupId')}/members/$ref",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{body('Resolve_User')?['id']}"
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Resolve_User": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Check_High_Risk_Group": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greaterOrEquals": [
                              "@int(outputs('Parse_SpyCloud_Severity'))",
                              25
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Add_To_High_Risk_Group": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/v1.0/groups/@{parameters('HighRiskGroupId')}/members/$ref",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{body('Resolve_User')?['id']}"
                            },
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://graph.microsoft.com"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "else": {
                        "actions": {
                          "Check_Medium_Risk": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "greaterOrEquals": [
                                    "@int(outputs('Parse_SpyCloud_Severity'))",
                                    20
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Add_To_Medium_Risk_Group": {
                                "type": "Http",
                                "inputs": {
                                  "method": "POST",
                                  "uri": "https://graph.microsoft.com/v1.0/groups/@{parameters('MediumRiskGroupId')}/members/$ref",
                                  "headers": {
                                    "Content-Type": "application/json"
                                  },
                                  "body": {
                                    "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{body('Resolve_User')?['id']}"
                                  },
                                  "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://graph.microsoft.com"
                                  }
                                },
                                "runAfter": {}
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      },
                      "runAfter": {
                        "Add_To_Compromised_Users_Group": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Get_User_Group_Memberships": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{body('Resolve_User')?['id']}/memberOf?$select=displayName,id",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Check_High_Risk_Group": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_Success": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "GroupResults",
                        "value": {
                          "user": "@body('Resolve_User')?['userPrincipalName']",
                          "status": "Success",
                          "severity": "@outputs('Parse_SpyCloud_Severity')",
                          "groups": "@body('Get_User_Group_Memberships')?['value']",
                          "timestamp": "@utcNow()"
                        }
                      },
                      "runAfter": {
                        "Get_User_Group_Memberships": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Group_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Append_Failure": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "GroupResults",
                        "value": {
                          "user": "@items('Process_Each_Account')?['Name']",
                          "status": "Failed",
                          "error": "@result('Add_To_Groups_Scope')?[0]?['error']?['message']"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Add_To_Groups_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Determine_Target_Groups": [
                  "Succeeded"
                ]
              }
            },
            "Add_Summary_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-AddToSecurityGroup:</strong> Security group assignment completed.<br/>Severity: @{outputs('Parse_SpyCloud_Severity')}<br/>Results: @{variables('GroupResults')}</p>"
                }
              },
              "runAfter": {
                "Process_Each_Account": [
                  "Succeeded",
                  "Failed"
                ]
              }
            },
            "Log_To_Custom_Table": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('workspaceName')}/api/logs?api-version=2016-04-01",
                "headers": {
                  "Content-Type": "application/json",
                  "Log-Type": "SpyCloud_SecurityGroupActions_CL"
                },
                "body": "@variables('GroupResults')",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com"
                }
              },
              "runAfter": {
                "Add_Summary_Comment": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "CompromisedUsersGroupId": {
              "type": "String",
              "defaultValue": "[parameters('CompromisedUsersGroupId')]"
            },
            "HighRiskGroupId": {
              "type": "String",
              "defaultValue": "[parameters('HighRiskGroupId')]"
            },
            "MediumRiskGroupId": {
              "type": "String",
              "defaultValue": "[parameters('MediumRiskGroupId')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-AddToSecurityGroup-Template",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ]
}
