Solutions/SpyCloud Identity Exposure Intelligence/Playbooks/SpyCloud-Monitor-Watchlist-Data/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "SpyCloud-Monitor-Watchlist-Data",
        "description": "Runs on a daily schedule to fetch watchlist data from SpyCloud API, parse results, and save to custom log table for monitoring.",
        "prerequisites": [
            "1. SpyCloud Custom Connector must be deployed first",
            "2. SpyCloud API Key from portal.spycloud.com"
        ],
        "lastUpdateTime": "2026-03-21T00:00:00.000Z",
        "entities": [],
        "tags": [
            "SpyCloud",
            "Breach",
            "Identity",
            "Enrichment"
        ],
        "support": {
            "tier": "Partner",
            "name": "SpyCloud",
            "email": "integrations@spycloud.com",
            "link": "https://portal.spycloud.com"
        },
        "author": {
            "name": "SpyCloud"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "SpyCloud-Monitor-Watchlist-Data",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App (SpyCloud-Monitor-Watchlist-Data)"
            }
        },
        "SpyCloudConnectorName": {
            "defaultValue": "SpyCloud-Identity-Exposure-Intelligence",
            "type": "String",
            "metadata": {
                "description": "Name of the SpyCloud custom connector"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azuresentinel",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "azuresentinel",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('SpyCloudConnectorName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('SpyCloudConnectorName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('SpyCloudConnectorName'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azureloganalyticsdatacollector",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "azureloganalyticsdatacollector",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azuresentinel')]",
                "[resourceId('Microsoft.Web/connections', parameters('SpyCloudConnectorName'))]",
                "[resourceId('Microsoft.Web/connections', 'azureloganalyticsdatacollector')]"
            ],
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "SpyCloud-Monitor-Watchlist-Data",
                "hidden-SentinelTemplateVersion": "2.0"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 24
                            }
                        }
                    },
                    "actions": {
                        "Initialize_Cursor": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "cursor",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Initialize_HasMore": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "hasMore",
                                        "type": "boolean",
                                        "value": true
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Cursor": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Until_No_More_Results": {
                            "type": "Until",
                            "expression": "@equals(variables('hasMore'), false)",
                            "limit": {
                                "count": 100,
                                "timeout": "PT4H"
                            },
                            "actions": {
                                "Call_SpyCloud_API": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['SpyCloudConnector']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/breach/data/watchlist",
                                        "queries": {
                                            "cursor": "@variables('cursor')",
                                            "since": "@{formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd')}"
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "Parse_Response": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Call_SpyCloud_API')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "cursor": {
                                                    "type": "string"
                                                },
                                                "hits": {
                                                    "type": "integer"
                                                },
                                                "results": {
                                                    "type": "array"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Call_SpyCloud_API": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Check_For_More_Results": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_Response')?['cursor']",
                                                        ""
                                                    ]
                                                }
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('Parse_Response')?['cursor']",
                                                        null
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Update_Cursor": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "cursor",
                                                "value": "@body('Parse_Response')?['cursor']"
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_HasMore_False": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "hasMore",
                                                    "value": false
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "For_Each_Result": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "For_Each_Result": {
                                    "type": "Foreach",
                                    "foreach": "@body('Parse_Response')?['results']",
                                    "actions": {
                                        "Send_Data_To_Log_Analytics": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@{items('For_Each_Result')}",
                                                "headers": {
                                                    "Log-Type": "SpyCloudBreachWatchlist"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/logs"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_Response": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_HasMore": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azuresentinel')]",
                                "connectionName": "azuresentinel",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "SpyCloudConnector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('SpyCloudConnectorName'))]",
                                "connectionName": "[parameters('SpyCloudConnectorName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', parameters('SpyCloudConnectorName'))]"
                            },
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureloganalyticsdatacollector')]",
                                "connectionName": "azureloganalyticsdatacollector",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}