Solutions/SpyCloud Identity Exposure Intelligence/Playbooks/SpyCloud-WebhookNotify/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SpyCloud - Generic Webhook Notification",
    "description": "Sends structured JSON payloads to a configurable webhook endpoint when SpyCloud identity threat incidents are created in Microsoft Sentinel. Compatible with any webhook-capable platform including PagerDuty, Opsgenie, custom SIEM integrations, and SOAR platforms.",
    "version": "10.0.0",
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-WebhookNotify",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    },
    "webhookUrl": {
      "type": "securestring",
      "metadata": {
        "description": "Destination webhook URL for incident notifications"
      }
    },
    "webhookAuthHeader": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "Optional authorization header value (e.g., Bearer token or API key)"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "solution": "SpyCloud-Sentinel",
        "component": "notification-webhook",
        "version": "10.0.0",
        "hidden-SentinelTemplateName": "SpyCloud-WebhookNotify",
        "hidden-SentinelTemplateVersion": "2.0.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Build_Webhook_Payload": {
              "type": "Compose",
              "inputs": {
                "source": "SpyCloud for Microsoft Sentinel",
                "version": "10.0.0",
                "timestamp": "@{utcNow()}",
                "incident": {
                  "id": "@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                  "title": "@{triggerBody()?['object']?['properties']?['title']}",
                  "severity": "@{triggerBody()?['object']?['properties']?['severity']}",
                  "status": "@{triggerBody()?['object']?['properties']?['status']}",
                  "description": "@{triggerBody()?['object']?['properties']?['description']}",
                  "createdTimeUtc": "@{triggerBody()?['object']?['properties']?['createdTimeUtc']}",
                  "incidentUrl": "@{triggerBody()?['object']?['properties']?['incidentUrl']}",
                  "alertCount": "@{length(triggerBody()?['object']?['properties']?['alerts'])}",
                  "tactics": "@{triggerBody()?['object']?['properties']?['additionalData']?['tactics']}"
                },
                "entities": {
                  "accounts": "@body('Extract_Entities')?['Accounts']"
                }
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Send_Webhook": {
              "type": "Scope",
              "actions": {
                "HTTP_POST_Webhook": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@parameters('WebhookUrl')",
                    "headers": {
                      "Content-Type": "application/json",
                      "Authorization": "@{if(empty(parameters('WebhookAuthHeader')), '', parameters('WebhookAuthHeader'))}",
                      "X-SpyCloud-Source": "Microsoft-Sentinel",
                      "X-SpyCloud-Version": "10.0.0"
                    },
                    "body": "@outputs('Build_Webhook_Payload')"
                  },
                  "runAfter": {}
                },
                "Comment_Webhook_Success": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-WebhookNotify:</strong> Webhook notification delivered successfully. HTTP @{outputs('HTTP_POST_Webhook')['statusCode']}</p>"
                    }
                  },
                  "runAfter": {
                    "HTTP_POST_Webhook": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Build_Webhook_Payload": [
                  "Succeeded"
                ]
              }
            },
            "Handle_Webhook_Error": {
              "type": "Scope",
              "actions": {
                "Comment_Webhook_Failed": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-WebhookNotify:</strong> Webhook delivery failed. Please verify the webhook URL and authentication configuration.</p>"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Send_Webhook": [
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "WebhookUrl": {
              "type": "SecureString",
              "defaultValue": "[parameters('webhookUrl')]"
            },
            "WebhookAuthHeader": {
              "type": "SecureString",
              "defaultValue": "[parameters('webhookAuthHeader')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}