Solutions/SpyCloud Identity Exposure Intelligence/Playbooks/SpyCloud-RemoveMailboxRules/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-RemoveMailboxRules",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Azure Subscription ID"
      }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": {
        "description": "Resource group for this deployment"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
    "office365ConnectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('office365ConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'office365')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]",
        "[variables('office365ConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Initialize_Results": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "MailboxResults",
                    "type": "array",
                    "value": []
                  }
                ]
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              }
            },
            "Process_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Mailbox_Rules_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Resolve_User_UPN": {
                      "type": "Compose",
                      "inputs": "@concat(items('Process_Each_Account')?['Name'], if(not(empty(items('Process_Each_Account')?['UPNSuffix'])), concat('@', items('Process_Each_Account')?['UPNSuffix']), ''))",
                      "runAfter": {}
                    },
                    "Get_Mailbox_Rules": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Resolve_User_UPN')}/mailFolders/inbox/messageRules",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      },
                      "runAfter": {
                        "Resolve_User_UPN": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Initialize_Suspicious_Rules": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "SuspiciousRules",
                            "type": "array",
                            "value": []
                          }
                        ]
                      },
                      "runAfter": {
                        "Get_Mailbox_Rules": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Filter_Suspicious_Rules": {
                      "type": "Foreach",
                      "foreach": "@body('Get_Mailbox_Rules')?['value']",
                      "actions": {
                        "Check_If_Suspicious": {
                          "type": "If",
                          "expression": {
                            "or": [
                              {
                                "not": {
                                  "equals": [
                                    "@items('Filter_Suspicious_Rules')?['actions']?['forwardTo']",
                                    null
                                  ]
                                }
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@items('Filter_Suspicious_Rules')?['actions']?['forwardAsAttachmentTo']",
                                    null
                                  ]
                                }
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@items('Filter_Suspicious_Rules')?['actions']?['redirectTo']",
                                    null
                                  ]
                                }
                              },
                              {
                                "equals": [
                                  "@items('Filter_Suspicious_Rules')?['actions']?['delete']",
                                  true
                                ]
                              },
                              {
                                "equals": [
                                  "@items('Filter_Suspicious_Rules')?['actions']?['permanentDelete']",
                                  true
                                ]
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@items('Filter_Suspicious_Rules')?['actions']?['moveToFolder']",
                                    null
                                  ]
                                }
                              }
                            ]
                          },
                          "actions": {
                            "Disable_Suspicious_Rule": {
                              "type": "Http",
                              "inputs": {
                                "method": "PATCH",
                                "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Resolve_User_UPN')}/mailFolders/inbox/messageRules/@{items('Filter_Suspicious_Rules')?['id']}",
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "isEnabled": false
                                },
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://graph.microsoft.com"
                                }
                              },
                              "runAfter": {}
                            },
                            "Append_Suspicious_Rule": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "SuspiciousRules",
                                "value": {
                                  "ruleId": "@items('Filter_Suspicious_Rules')?['id']",
                                  "displayName": "@items('Filter_Suspicious_Rules')?['displayName']",
                                  "actions": "@items('Filter_Suspicious_Rules')?['actions']",
                                  "disabled": true
                                }
                              },
                              "runAfter": {
                                "Disable_Suspicious_Rule": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Initialize_Suspicious_Rules": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_User_Result": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "MailboxResults",
                        "value": {
                          "user": "@outputs('Resolve_User_UPN')",
                          "totalRules": "@length(body('Get_Mailbox_Rules')?['value'])",
                          "suspiciousRulesDisabled": "@length(variables('SuspiciousRules'))",
                          "suspiciousRules": "@variables('SuspiciousRules')",
                          "status": "Success",
                          "timestamp": "@utcNow()"
                        }
                      },
                      "runAfter": {
                        "Filter_Suspicious_Rules": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "Catch_Mailbox_Errors": {
                  "type": "Scope",
                  "actions": {
                    "Append_Failure": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "MailboxResults",
                        "value": {
                          "user": "@items('Process_Each_Account')?['Name']",
                          "status": "Failed",
                          "error": "@result('Mailbox_Rules_Scope')?[0]?['error']?['message']"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Mailbox_Rules_Scope": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_Results": [
                  "Succeeded"
                ]
              }
            },
            "Add_Summary_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-RemoveMailboxRules:</strong> Mailbox rule audit and remediation completed.<br/>Results: @{variables('MailboxResults')}<br/><em>Suspicious forwarding/redirect/delete rules have been disabled. Review the rules list for false positives and permanently delete confirmed malicious rules.</em></p>"
                }
              },
              "runAfter": {
                "Process_Each_Account": [
                  "Succeeded",
                  "Failed"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-RemoveMailboxRules",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  },
  "metadata": {
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    }
  }
}