playbooks/SpyCloud-EmailNotify.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SpyCloud - Email SOC Notification",
    "description": "Sends HTML-formatted email notifications via Office 365 when SpyCloud identity threat incidents are created in Microsoft Sentinel.",
    "version": "10.0.0",
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-EmailNotify",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      },
      "defaultValue": ""
    },
    "notificationEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address for SOC alert notifications"
      },
      "defaultValue": ""
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
    "office365ConnectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('office365ConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "solution": "SpyCloud-Sentinel",
        "component": "notification-email",
        "version": "10.0.0",
        "hidden-SentinelTemplateName": "SpyCloud-EmailNotify",
        "hidden-SentinelTemplateVersion": "2.0.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]",
        "[variables('office365ConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']"
              },
              "runAfter": {}
            },
            "Build_User_List": {
              "type": "Select",
              "inputs": {
                "from": "@body('Extract_Entities')?['Accounts']",
                "select": "@concat(item()?['Name'], if(not(empty(item()?['UPNSuffix'])), concat('@', item()?['UPNSuffix']), ''))"
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Send_Email_Scope": {
              "type": "Scope",
              "actions": {
                "Send_Email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@parameters('NotificationEmail')",
                      "Subject": "[SpyCloud Sentinel] @{triggerBody()?['object']?['properties']?['severity']} - @{triggerBody()?['object']?['properties']?['title']}",
                      "Body": "<html><body style='font-family: Segoe UI, Arial, sans-serif; color: #333; max-width: 600px;'><div style='background: linear-gradient(135deg, #00D4AA, #0099FF); padding: 20px; border-radius: 8px 8px 0 0;'><h1 style='color: white; margin: 0; font-size: 20px;'>SpyCloud Identity Threat Alert</h1></div><div style='padding: 20px; border: 1px solid #e0e0e0; border-top: none; border-radius: 0 0 8px 8px;'><table style='width: 100%; border-collapse: collapse;'><tr><td style='padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;'>Incident #</td><td style='padding: 8px; border-bottom: 1px solid #eee;'>@{triggerBody()?['object']?['properties']?['incidentNumber']}</td></tr><tr><td style='padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;'>Severity</td><td style='padding: 8px; border-bottom: 1px solid #eee;'><span style='background: @{if(equals(triggerBody()?['object']?['properties']?['severity'], 'High'), '#dc3545', if(equals(triggerBody()?['object']?['properties']?['severity'], 'Medium'), '#fd7e14', '#0d6efd'))}; color: white; padding: 2px 8px; border-radius: 4px;'>@{triggerBody()?['object']?['properties']?['severity']}</span></td></tr><tr><td style='padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;'>Title</td><td style='padding: 8px; border-bottom: 1px solid #eee;'>@{triggerBody()?['object']?['properties']?['title']}</td></tr><tr><td style='padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;'>Created</td><td style='padding: 8px; border-bottom: 1px solid #eee;'>@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</td></tr><tr><td style='padding: 8px; font-weight: bold; border-bottom: 1px solid #eee;'>Affected Users</td><td style='padding: 8px; border-bottom: 1px solid #eee;'>@{join(body('Build_User_List'), ', ')}</td></tr></table><h3 style='margin-top: 20px;'>Description</h3><p>@{triggerBody()?['object']?['properties']?['description']}</p><h3>Recommended Actions</h3><ul><li>Review the incident in Microsoft Sentinel</li><li>Verify exposed credentials scope in SpyCloud portal</li><li>Force password reset for affected accounts</li><li>Revoke active sessions</li><li>Review sign-in logs for suspicious activity</li></ul><p style='margin-top: 20px;'><a href='@{triggerBody()?['object']?['properties']?['incidentUrl']}' style='background: #00D4AA; color: white; padding: 10px 20px; text-decoration: none; border-radius: 4px;'>View Incident in Sentinel</a></p></div><div style='padding: 10px; text-align: center; color: #999; font-size: 12px;'>SpyCloud for Microsoft Sentinel v10.0</div></body></html>",
                      "Importance": "@{if(equals(triggerBody()?['object']?['properties']?['severity'], 'High'), 'High', 'Normal')}"
                    }
                  },
                  "runAfter": {}
                },
                "Comment_Email_Success": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-EmailNotify:</strong> Email notification sent to @{parameters('NotificationEmail')}.</p>"
                    }
                  },
                  "runAfter": {
                    "Send_Email": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Build_User_List": [
                  "Succeeded"
                ]
              }
            },
            "Handle_Email_Error": {
              "type": "Scope",
              "actions": {
                "Comment_Email_Failed": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-EmailNotify:</strong> Failed to send email notification. Please verify Office 365 connection authorization.</p>"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Send_Email_Scope": [
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "NotificationEmail": {
              "type": "String",
              "defaultValue": "[parameters('notificationEmail')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365": {
                "connectionId": "[variables('office365ConnectionId')]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
