playbooks/SpyCloud-NotifySOC.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-NotifySOC",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      },
      "defaultValue": ""
    },
    "enableTeams": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Enable Microsoft Teams notifications"
      }
    },
    "teamsWebhookUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Microsoft Teams incoming webhook URL"
      }
    },
    "enableSlack": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Enable Slack notifications"
      }
    },
    "slackWebhookUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Slack incoming webhook URL"
      }
    },
    "slackChannel": {
      "type": "string",
      "defaultValue": "#security-alerts",
      "metadata": {
        "description": "Slack channel for notifications"
      }
    },
    "enableEmail": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Enable email notifications via Office 365"
      }
    },
    "notificationEmail": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Email address for SOC notifications"
      }
    },
    "enableWebhook": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Enable generic webhook notifications"
      }
    },
    "webhookUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Generic webhook URL for notifications"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('office365ConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "enableTeams": {
              "type": "Bool"
            },
            "teamsWebhookUrl": {
              "type": "String"
            },
            "enableSlack": {
              "type": "Bool"
            },
            "slackWebhookUrl": {
              "type": "String"
            },
            "slackChannel": {
              "type": "String"
            },
            "enableEmail": {
              "type": "Bool"
            },
            "notificationEmail": {
              "type": "String"
            },
            "enableWebhook": {
              "type": "Bool"
            },
            "webhookUrl": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionNotification",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/get",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {}
            },
            "Build_Alert_Payload": {
              "type": "Compose",
              "inputs": {
                "incidentId": "@triggerBody()?['object']?['properties']?['incidentNumber']",
                "title": "@triggerBody()?['object']?['properties']?['title']",
                "severity": "@triggerBody()?['object']?['properties']?['severity']",
                "status": "@triggerBody()?['object']?['properties']?['status']",
                "description": "@triggerBody()?['object']?['properties']?['description']",
                "createdTimeUtc": "@triggerBody()?['object']?['properties']?['createdTimeUtc']",
                "incidentUrl": "@triggerBody()?['object']?['properties']?['incidentUrl']",
                "alertCount": "@triggerBody()?['object']?['properties']?['additionalData']?['alertsCount']",
                "entityCount": "@length(body('Extract_Entities')?['entities'])",
                "affectedEntities": "@body('Extract_Entities')?['entities']",
                "tactics": "@triggerBody()?['object']?['properties']?['additionalData']?['tactics']",
                "owner": "@triggerBody()?['object']?['properties']?['owner']?['assignedTo']",
                "source": "SpyCloud Sentinel Playbook"
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Build_Affected_Users_List": {
              "type": "Select",
              "inputs": {
                "from": "@body('Extract_Entities')?['entities']",
                "select": "@if(equals(item()?['kind'], 'Account'), coalesce(item()?['properties']?['userPrincipalName'], concat(item()?['properties']?['accountName'], '@', item()?['properties']?['upnSuffix'])), '')"
              },
              "runAfter": {
                "Build_Alert_Payload": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Teams_Notification": {
              "type": "Scope",
              "actions": {
                "Check_Teams_Enabled": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@parameters('enableTeams')",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Send_Teams_Adaptive_Card": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('teamsWebhookUrl')",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "type": "message",
                          "attachments": [
                            {
                              "contentType": "application/vnd.microsoft.card.adaptive",
                              "contentUrl": null,
                              "content": {
                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                "type": "AdaptiveCard",
                                "version": "1.4",
                                "body": [
                                  {
                                    "type": "Container",
                                    "style": "@if(equals(outputs('Build_Alert_Payload')?['severity'], 'High'), 'attention', if(equals(outputs('Build_Alert_Payload')?['severity'], 'Medium'), 'warning', 'default'))",
                                    "items": [
                                      {
                                        "type": "TextBlock",
                                        "text": "SpyCloud Security Alert",
                                        "weight": "Bolder",
                                        "size": "Large"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "FactSet",
                                    "facts": [
                                      {
                                        "title": "Incident",
                                        "value": "#@{outputs('Build_Alert_Payload')?['incidentId']} - @{outputs('Build_Alert_Payload')?['title']}"
                                      },
                                      {
                                        "title": "Severity",
                                        "value": "@{outputs('Build_Alert_Payload')?['severity']}"
                                      },
                                      {
                                        "title": "Status",
                                        "value": "@{outputs('Build_Alert_Payload')?['status']}"
                                      },
                                      {
                                        "title": "Affected Users",
                                        "value": "@{join(body('Build_Affected_Users_List'), ', ')}"
                                      },
                                      {
                                        "title": "Created",
                                        "value": "@{outputs('Build_Alert_Payload')?['createdTimeUtc']}"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "TextBlock",
                                    "text": "@{outputs('Build_Alert_Payload')?['description']}",
                                    "wrap": true
                                  },
                                  {
                                    "type": "TextBlock",
                                    "text": "Recommended Actions",
                                    "weight": "Bolder",
                                    "spacing": "Medium"
                                  },
                                  {
                                    "type": "TextBlock",
                                    "text": "1. Review affected accounts and exposure details\n2. Force password reset for compromised credentials\n3. Revoke active sessions for affected users\n4. Monitor for suspicious sign-in activity\n5. Escalate if severity is High or Critical",
                                    "wrap": true
                                  }
                                ],
                                "actions": [
                                  {
                                    "type": "Action.OpenUrl",
                                    "title": "View Incident in Sentinel",
                                    "url": "@{outputs('Build_Alert_Payload')?['incidentUrl']}"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Build_Affected_Users_List": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Teams_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Teams_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud NotifySOC:</strong> Teams notification failed. Please check the playbook run for details.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Teams_Notification": [
                  "Failed",
                  "TimedOut"
                ]
              }
            },
            "Scope_Slack_Notification": {
              "type": "Scope",
              "actions": {
                "Check_Slack_Enabled": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@parameters('enableSlack')",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Send_Slack_Message": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('slackWebhookUrl')",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "channel": "@{parameters('slackChannel')}",
                          "blocks": [
                            {
                              "type": "header",
                              "text": {
                                "type": "plain_text",
                                "text": "SpyCloud Security Alert - @{outputs('Build_Alert_Payload')?['severity']} Severity"
                              }
                            },
                            {
                              "type": "section",
                              "fields": [
                                {
                                  "type": "mrkdwn",
                                  "text": "*Incident:*\n#@{outputs('Build_Alert_Payload')?['incidentId']} - @{outputs('Build_Alert_Payload')?['title']}"
                                },
                                {
                                  "type": "mrkdwn",
                                  "text": "*Severity:*\n@{outputs('Build_Alert_Payload')?['severity']}"
                                },
                                {
                                  "type": "mrkdwn",
                                  "text": "*Status:*\n@{outputs('Build_Alert_Payload')?['status']}"
                                },
                                {
                                  "type": "mrkdwn",
                                  "text": "*Affected Users:*\n@{join(body('Build_Affected_Users_List'), ', ')}"
                                }
                              ]
                            },
                            {
                              "type": "section",
                              "text": {
                                "type": "mrkdwn",
                                "text": "*Description:*\n@{outputs('Build_Alert_Payload')?['description']}"
                              }
                            },
                            {
                              "type": "actions",
                              "elements": [
                                {
                                  "type": "button",
                                  "text": {
                                    "type": "plain_text",
                                    "text": "View in Sentinel"
                                  },
                                  "url": "@{outputs('Build_Alert_Payload')?['incidentUrl']}",
                                  "style": "primary"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Build_Affected_Users_List": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Slack_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Slack_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud NotifySOC:</strong> Slack notification failed. Please check the playbook run for details.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Slack_Notification": [
                  "Failed",
                  "TimedOut"
                ]
              }
            },
            "Scope_Email_Notification": {
              "type": "Scope",
              "actions": {
                "Check_Email_Enabled": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@parameters('enableEmail')",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Send_Email_Notification": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail",
                        "body": {
                          "To": "@parameters('notificationEmail')",
                          "Subject": "[SpyCloud Alert] @{outputs('Build_Alert_Payload')?['severity']} - @{outputs('Build_Alert_Payload')?['title']}",
                          "Body": "<html><head><style>body{font-family:Segoe UI,Arial,sans-serif;margin:0;padding:0}table{border-collapse:collapse;width:100%}th,td{padding:10px;text-align:left;border-bottom:1px solid #ddd}th{background-color:#1a1a2e;color:#fff}.severity-high{color:#d32f2f;font-weight:bold}.severity-medium{color:#f57c00;font-weight:bold}.severity-low{color:#388e3c;font-weight:bold}.header{background:#1a1a2e;color:#fff;padding:20px;text-align:center}.content{padding:20px}.footer{background:#f5f5f5;padding:15px;text-align:center;font-size:12px;color:#666}</style></head><body><div class='header'><h1>SpyCloud Security Alert</h1></div><div class='content'><table><tr><th colspan='2'>Incident Details</th></tr><tr><td><strong>Incident ID</strong></td><td>#@{outputs('Build_Alert_Payload')?['incidentId']}</td></tr><tr><td><strong>Title</strong></td><td>@{outputs('Build_Alert_Payload')?['title']}</td></tr><tr><td><strong>Severity</strong></td><td><span class='severity-@{toLower(outputs('Build_Alert_Payload')?['severity'])}'>@{outputs('Build_Alert_Payload')?['severity']}</span></td></tr><tr><td><strong>Status</strong></td><td>@{outputs('Build_Alert_Payload')?['status']}</td></tr><tr><td><strong>Created</strong></td><td>@{outputs('Build_Alert_Payload')?['createdTimeUtc']}</td></tr><tr><td><strong>Affected Users</strong></td><td>@{join(body('Build_Affected_Users_List'), ', ')}</td></tr><tr><td><strong>Description</strong></td><td>@{outputs('Build_Alert_Payload')?['description']}</td></tr></table><br><p><a href='@{outputs('Build_Alert_Payload')?['incidentUrl']}' style='background:#1a1a2e;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px'>View Incident in Sentinel</a></p></div><div class='footer'><p>This alert was generated by SpyCloud Sentinel Integration</p></div></body></html>",
                          "Importance": "@if(or(equals(outputs('Build_Alert_Payload')?['severity'], 'High'), equals(outputs('Build_Alert_Payload')?['severity'], 'Critical')), 'High', 'Normal')"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Build_Affected_Users_List": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Email_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Email_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud NotifySOC:</strong> Email notification failed. Please check the playbook run for details.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Email_Notification": [
                  "Failed",
                  "TimedOut"
                ]
              }
            },
            "Scope_Webhook_Notification": {
              "type": "Scope",
              "actions": {
                "Check_Webhook_Enabled": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@parameters('enableWebhook')",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Send_Webhook_Notification": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('webhookUrl')",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": "@outputs('Build_Alert_Payload')"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Build_Affected_Users_List": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Webhook_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Webhook_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud NotifySOC:</strong> Webhook notification failed. Please check the playbook run for details.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Webhook_Notification": [
                  "Failed",
                  "TimedOut"
                ]
              }
            },
            "Add_Comment_Success": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud NotifySOC:</strong> SOC notification playbook executed successfully. Channels notified based on configuration.</p>"
                }
              },
              "runAfter": {
                "Scope_Teams_Notification": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Slack_Notification": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Email_Notification": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Webhook_Notification": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Teams_Catch": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Slack_Catch": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Email_Catch": [
                  "Succeeded",
                  "Skipped"
                ],
                "Scope_Webhook_Catch": [
                  "Succeeded",
                  "Skipped"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "enableTeams": {
            "value": "[parameters('enableTeams')]"
          },
          "teamsWebhookUrl": {
            "value": "[parameters('teamsWebhookUrl')]"
          },
          "enableSlack": {
            "value": "[parameters('enableSlack')]"
          },
          "slackWebhookUrl": {
            "value": "[parameters('slackWebhookUrl')]"
          },
          "slackChannel": {
            "value": "[parameters('slackChannel')]"
          },
          "enableEmail": {
            "value": "[parameters('enableEmail')]"
          },
          "notificationEmail": {
            "value": "[parameters('notificationEmail')]"
          },
          "enableWebhook": {
            "value": "[parameters('enableWebhook')]"
          },
          "webhookUrl": {
            "value": "[parameters('webhookUrl')]"
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-NotifySOC",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  },
  "metadata": {
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    }
  }
}
