playbooks/SpyCloud-PurviewLabelIncident.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-PurviewLabelIncident",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "spycloudApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SpyCloud API key for breach data lookups"
      }
    },
    "aiEngineUrl": {
      "type": "string",
      "metadata": {
        "description": "URL of the SpyCloud AI Engine Function App (e.g., https://func-spycloud-ai-engine.azurewebsites.net)"
      }
    },
    "sensitivityLabelId": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Purview sensitivity label ID for 'Highly Confidential'. Leave blank to use tag-based labeling only."
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "spycloudApiKey": {
              "type": "SecureString"
            },
            "aiEngineUrl": {
              "type": "String"
            },
            "sensitivityLabelId": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionNotification",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/get",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {}
            },
            "Filter_Account_Entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Extract_Entities')?['entities']",
                "where": "@equals(item()?['kind'], 'Account')"
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_Max_Severity": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "maxSeverity",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Filter_Account_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_PII_Found": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "piiFound",
                    "type": "boolean",
                    "value": false
                  }
                ]
              },
              "runAfter": {
                "Initialize_Max_Severity": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_Classification_Summary": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "classificationSummary",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Initialize_PII_Found": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Classify_And_Label": {
              "type": "Scope",
              "actions": {
                "For_Each_Account": {
                  "type": "Foreach",
                  "foreach": "@body('Filter_Account_Entities')",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 1
                    }
                  },
                  "actions": {
                    "Compose_Email_Address": {
                      "type": "Compose",
                      "inputs": "@coalesce(items('For_Each_Account')?['properties']?['userPrincipalName'], concat(items('For_Each_Account')?['properties']?['accountName'], '@', items('For_Each_Account')?['properties']?['upnSuffix']))",
                      "runAfter": {}
                    },
                    "Call_Purview_Classify": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('aiEngineUrl')}/api/ai/purview/classify",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "email": "@{outputs('Compose_Email_Address')}",
                          "incidentId": "@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                          "applyLabel": true,
                          "sensitivityLabelId": "@{parameters('sensitivityLabelId')}"
                        }
                      },
                      "runAfter": {
                        "Compose_Email_Address": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Parse_Classification": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Call_Purview_Classify')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            },
                            "exposureCount": {
                              "type": "integer"
                            },
                            "classification": {
                              "type": "object",
                              "properties": {
                                "sensitivity_level": {
                                  "type": "string"
                                },
                                "recommended_label": {
                                  "type": "string"
                                },
                                "exposed_pii_types": {
                                  "type": "array"
                                },
                                "regulatory_impact": {
                                  "type": "object"
                                }
                              }
                            },
                            "labelApplied": {
                              "type": ["object", "null"]
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Call_Purview_Classify": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Check_PII_Severity": {
                      "type": "If",
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@body('Parse_Classification')?['classification']?['sensitivity_level']",
                              "Highly Confidential"
                            ]
                          },
                          {
                            "greater": [
                              "@body('Parse_Classification')?['exposureCount']",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Set_PII_Found": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "piiFound",
                            "value": true
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Parse_Classification": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Build_Classification_Row": {
                      "type": "Compose",
                      "inputs": "<tr><td>@{outputs('Compose_Email_Address')}</td><td>@{body('Parse_Classification')?['exposureCount']}</td><td>@{body('Parse_Classification')?['classification']?['sensitivity_level']}</td><td>@{body('Parse_Classification')?['classification']?['recommended_label']}</td></tr>",
                      "runAfter": {
                        "Check_PII_Severity": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_Classification": {
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "classificationSummary",
                        "value": "@{outputs('Build_Classification_Row')}"
                      },
                      "runAfter": {
                        "Build_Classification_Row": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Initialize_Classification_Summary": [
                  "Succeeded"
                ]
              }
            },
            "Apply_Incident_Tags": {
              "type": "If",
              "expression": {
                "equals": [
                  "@variables('piiFound')",
                  true
                ]
              },
              "actions": {
                "Update_Incident_With_Purview_Tags": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "put",
                    "path": "/Incidents",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "tagsToAdd": {
                        "TagsToAdd": [
                          {
                            "Tag": "Purview:HighlyConfidential"
                          },
                          {
                            "Tag": "SpyCloud:PII-Exposed"
                          },
                          {
                            "Tag": "Compliance:NotificationRequired"
                          }
                        ]
                      }
                    }
                  }
                },
                "Update_Incident_Severity": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "put",
                    "path": "/Incidents",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "severity": "High"
                    }
                  },
                  "runAfter": {
                    "Update_Incident_With_Purview_Tags": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Tag_Standard_Classification": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "put",
                      "path": "/Incidents",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "tagsToAdd": {
                          "TagsToAdd": [
                            {
                              "Tag": "Purview:Confidential"
                            },
                            {
                              "Tag": "SpyCloud:Classified"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Classify_And_Label": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Label_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Label_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud Purview Classification:</strong> Failed to classify and label incident. Please check the AI Engine Function App health and Purview permissions. Verify the managed identity has InformationProtectionPolicy.Read.All and SecurityIncident.ReadWrite.All Graph API permissions.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Classify_And_Label": [
                  "Failed",
                  "TimedOut"
                ]
              }
            },
            "Add_Classification_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>Purview Data Classification Report</strong></p><p><strong>PII Detected:</strong> @{if(variables('piiFound'), 'Yes \u2014 Highly Confidential', 'Standard Classification')}</p><table border='1' cellpadding='5' cellspacing='0' style='border-collapse:collapse;width:100%'><tr style='background:#0078d4;color:#fff'><th>Email</th><th>Exposures</th><th>Sensitivity Level</th><th>Recommended Label</th></tr>@{variables('classificationSummary')}</table><p><em>Classification powered by SpyCloud AI Engine + Microsoft Purview</em></p>"
                }
              },
              "runAfter": {
                "Apply_Incident_Tags": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "spycloudApiKey": {
            "value": "[parameters('spycloudApiKey')]"
          },
          "aiEngineUrl": {
            "value": "[parameters('aiEngineUrl')]"
          },
          "sensitivityLabelId": {
            "value": "[parameters('sensitivityLabelId')]"
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-PurviewLabelIncident",
        "hidden-SentinelTemplateVersion": "13.12.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  },
  "metadata": {
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)",
        "Compliance"
      ]
    },
    "prerequisites": [
      "SpyCloud AI Engine Function App deployed and accessible",
      "Microsoft Purview account with Information Protection enabled",
      "Managed Identity with InformationProtectionPolicy.Read.All, SecurityIncident.ReadWrite.All permissions"
    ]
  }
}
