playbooks/SpyCloud-ServiceNow.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-ServiceNow",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "serviceNowInstanceUrl": {
      "type": "string",
      "metadata": {
        "description": "ServiceNow instance URL (e.g., https://instance.service-now.com)"
      }
    },
    "serviceNowUsername": {
      "type": "string",
      "metadata": {
        "description": "ServiceNow API username"
      }
    },
    "serviceNowPassword": {
      "type": "securestring",
      "metadata": {
        "description": "ServiceNow API password"
      }
    },
    "serviceNowTable": {
      "type": "string",
      "defaultValue": "incident",
      "metadata": {
        "description": "ServiceNow table to create records in"
      }
    },
    "serviceNowAssignmentGroup": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "ServiceNow assignment group for created incidents"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "serviceNowInstanceUrl": {
              "type": "String"
            },
            "serviceNowUsername": {
              "type": "String"
            },
            "serviceNowPassword": {
              "type": "SecureString"
            },
            "serviceNowTable": {
              "type": "String"
            },
            "serviceNowAssignmentGroup": {
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionNotification",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/get",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {}
            },
            "Map_Severity": {
              "type": "Compose",
              "inputs": "@if(equals(triggerBody()?['object']?['properties']?['severity'], 'High'), '2', if(equals(triggerBody()?['object']?['properties']?['severity'], 'Medium'), '3', if(equals(triggerBody()?['object']?['properties']?['severity'], 'Low'), '4', '3')))",
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Build_Description": {
              "type": "Compose",
              "inputs": "Sentinel Incident #@{triggerBody()?['object']?['properties']?['incidentNumber']}\n\nTitle: @{triggerBody()?['object']?['properties']?['title']}\nSeverity: @{triggerBody()?['object']?['properties']?['severity']}\nStatus: @{triggerBody()?['object']?['properties']?['status']}\nCreated: @{triggerBody()?['object']?['properties']?['createdTimeUtc']}\nAlerts: @{triggerBody()?['object']?['properties']?['additionalData']?['alertsCount']}\nEntities: @{length(body('Extract_Entities')?['entities'])}\n\nDescription:\n@{triggerBody()?['object']?['properties']?['description']}\n\nSentinel Incident URL:\n@{triggerBody()?['object']?['properties']?['incidentUrl']}",
              "runAfter": {
                "Map_Severity": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Create_ServiceNow_Ticket": {
              "type": "Scope",
              "actions": {
                "Create_ServiceNow_Incident": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{parameters('serviceNowInstanceUrl')}/api/now/table/@{parameters('serviceNowTable')}",
                    "headers": {
                      "Content-Type": "application/json",
                      "Accept": "application/json"
                    },
                    "authentication": {
                      "type": "Basic",
                      "username": "@parameters('serviceNowUsername')",
                      "password": "@parameters('serviceNowPassword')"
                    },
                    "body": {
                      "short_description": "[SpyCloud] @{triggerBody()?['object']?['properties']?['title']}",
                      "description": "@{outputs('Build_Description')}",
                      "impact": "@{outputs('Map_Severity')}",
                      "urgency": "@{outputs('Map_Severity')}",
                      "category": "Security",
                      "subcategory": "Credential Exposure",
                      "assignment_group": "@{parameters('serviceNowAssignmentGroup')}",
                      "caller_id": "Microsoft Sentinel",
                      "contact_type": "Monitoring Tool"
                    }
                  },
                  "runAfter": {}
                },
                "Parse_ServiceNow_Response": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Create_ServiceNow_Incident')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "sys_id": {
                              "type": "string"
                            },
                            "number": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Create_ServiceNow_Incident": [
                      "Succeeded"
                    ]
                  }
                },
                "Add_Comment_Ticket_Created": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud ServiceNow Integration:</strong> ServiceNow ticket created successfully.<br><strong>Ticket Number:</strong> @{body('Parse_ServiceNow_Response')?['result']?['number']}<br><strong>Ticket URL:</strong> @{parameters('serviceNowInstanceUrl')}/nav_to.do?uri=@{parameters('serviceNowTable')}.do?sys_id=@{body('Parse_ServiceNow_Response')?['result']?['sys_id']}</p>"
                    }
                  },
                  "runAfter": {
                    "Parse_ServiceNow_Response": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Build_Description": [
                  "Succeeded"
                ]
              }
            },
            "Scope_ServiceNow_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Ticket_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud ServiceNow Integration:</strong> Failed to create ServiceNow ticket. Please check the playbook run history for details and verify ServiceNow connectivity.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Create_ServiceNow_Ticket": [
                  "Failed",
                  "TimedOut"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "serviceNowInstanceUrl": {
            "value": "[parameters('serviceNowInstanceUrl')]"
          },
          "serviceNowUsername": {
            "value": "[parameters('serviceNowUsername')]"
          },
          "serviceNowPassword": {
            "value": "[parameters('serviceNowPassword')]"
          },
          "serviceNowTable": {
            "value": "[parameters('serviceNowTable')]"
          },
          "serviceNowAssignmentGroup": {
            "value": "[parameters('serviceNowAssignmentGroup')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}