playbooks/SpyCloud-FullRemediation.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-FullRemediation",
      "metadata": { "description": "Name of the orchestrator Logic App playbook" }
    },
    "subscriptionId": {
      "type": "string",
      "metadata": { "description": "Azure Subscription ID" }
    },
    "resourceGroupName": {
      "type": "string",
      "metadata": { "description": "Resource group for this deployment" }
    },
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel workspace name" }
    },
    "ForcePasswordResetPlaybookId": {
      "type": "string",
      "metadata": { "description": "Resource ID of the SpyCloud-ForcePasswordReset Logic App" }
    },
    "RevokeSessionsPlaybookId": {
      "type": "string",
      "metadata": { "description": "Resource ID of the SpyCloud-RevokeSessions Logic App" }
    },
    "EnforceMFAPlaybookId": {
      "type": "string",
      "metadata": { "description": "Resource ID of the SpyCloud-EnforceMFA Logic App" }
    },
    "BlockConditionalAccessPlaybookId": {
      "type": "string",
      "metadata": { "description": "Resource ID of the SpyCloud-BlockConditionalAccess Logic App" }
    },
    "IsolateDevicePlaybookId": {
      "type": "string",
      "metadata": { "description": "Resource ID of the SpyCloud-IsolateDevice Logic App" }
    },
    "NotifySOCPlaybookId": {
      "type": "string",
      "metadata": { "description": "Resource ID of the SpyCloud-NotifySOC Logic App" }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "sentinelConnectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[variables('sentinelConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_Orchestration_Status": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "OrchestrationStatus",
                    "type": "object",
                    "value": {
                      "passwordReset": "Pending",
                      "sessionRevocation": "Pending",
                      "mfaReset": "Pending",
                      "caGroupAssignment": "Pending",
                      "deviceIsolation": "Pending",
                      "socNotification": "Pending"
                    }
                  }
                ]
              },
              "runAfter": {}
            },
            "Add_Start_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-FullRemediation:</strong> Orchestrated remediation started for incident @{triggerBody()?['object']?['properties']?['incidentNumber']}.</p>"
                }
              },
              "runAfter": {
                "Initialize_Orchestration_Status": ["Succeeded"]
              }
            },
            "Phase_1_Immediate_Containment": {
              "type": "Parallel",
              "actions": {
                "Branch_Password_Reset": {
                  "type": "Scope",
                  "actions": {
                    "Call_ForcePasswordReset": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "triggerName": "Microsoft_Sentinel_incident",
                          "workflow": {
                            "id": "@parameters('ForcePasswordResetPlaybookId')"
                          }
                        },
                        "body": "@triggerBody()"
                      },
                      "runAfter": {}
                    }
                  }
                },
                "Branch_Revoke_Sessions": {
                  "type": "Scope",
                  "actions": {
                    "Call_RevokeSessions": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "triggerName": "Microsoft_Sentinel_incident",
                          "workflow": {
                            "id": "@parameters('RevokeSessionsPlaybookId')"
                          }
                        },
                        "body": "@triggerBody()"
                      },
                      "runAfter": {}
                    }
                  }
                },
                "Branch_Device_Isolation": {
                  "type": "Scope",
                  "actions": {
                    "Call_IsolateDevice": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "triggerName": "Microsoft_Sentinel_incident",
                          "workflow": {
                            "id": "@parameters('IsolateDevicePlaybookId')"
                          }
                        },
                        "body": "@triggerBody()"
                      },
                      "runAfter": {}
                    }
                  }
                }
              },
              "runAfter": {
                "Add_Start_Comment": ["Succeeded"]
              }
            },
            "Catch_Phase_1_Errors": {
              "type": "Scope",
              "actions": {
                "Comment_Phase_1_Partial_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-FullRemediation:</strong> Phase 1 (Immediate Containment) had partial failures. Continuing to Phase 2. Review sub-playbook comments for details.</p>"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Phase_1_Immediate_Containment": ["Failed", "TimedOut"]
              }
            },
            "Phase_2_Access_Hardening": {
              "type": "Parallel",
              "actions": {
                "Branch_Enforce_MFA": {
                  "type": "Scope",
                  "actions": {
                    "Call_EnforceMFA": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "triggerName": "Microsoft_Sentinel_incident",
                          "workflow": {
                            "id": "@parameters('EnforceMFAPlaybookId')"
                          }
                        },
                        "body": "@triggerBody()"
                      },
                      "runAfter": {}
                    }
                  }
                },
                "Branch_CA_Group_Assignment": {
                  "type": "Scope",
                  "actions": {
                    "Call_BlockConditionalAccess": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "triggerName": "Microsoft_Sentinel_incident",
                          "workflow": {
                            "id": "@parameters('BlockConditionalAccessPlaybookId')"
                          }
                        },
                        "body": "@triggerBody()"
                      },
                      "runAfter": {}
                    }
                  }
                }
              },
              "runAfter": {
                "Phase_1_Immediate_Containment": ["Succeeded", "Failed"],
                "Catch_Phase_1_Errors": ["Succeeded", "Skipped"]
              }
            },
            "Catch_Phase_2_Errors": {
              "type": "Scope",
              "actions": {
                "Comment_Phase_2_Partial_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-FullRemediation:</strong> Phase 2 (Access Hardening) had partial failures. Continuing to notification. Review sub-playbook comments for details.</p>"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Phase_2_Access_Hardening": ["Failed", "TimedOut"]
              }
            },
            "Phase_3_Notify_SOC": {
              "type": "Scope",
              "actions": {
                "Call_NotifySOC": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "triggerName": "Microsoft_Sentinel_incident",
                      "workflow": {
                        "id": "@parameters('NotifySOCPlaybookId')"
                      }
                    },
                    "body": "@triggerBody()"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Phase_2_Access_Hardening": ["Succeeded", "Failed"],
                "Catch_Phase_2_Errors": ["Succeeded", "Skipped"]
              }
            },
            "Catch_Phase_3_Errors": {
              "type": "Scope",
              "actions": {
                "Comment_SOC_Notify_Failed": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/incident-comments",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud-FullRemediation:</strong> SOC notification failed. Manual notification required.</p>"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Phase_3_Notify_SOC": ["Failed", "TimedOut"]
              }
            },
            "Add_Completion_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-comments",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud-FullRemediation:</strong> Orchestrated remediation completed for incident @{triggerBody()?['object']?['properties']?['incidentNumber']}.<br/><strong>Phase 1 (Containment):</strong> Password Reset, Session Revocation, Device Isolation<br/><strong>Phase 2 (Hardening):</strong> MFA Re-registration, Conditional Access Group<br/><strong>Phase 3 (Notification):</strong> SOC Teams Alert<br/>Review individual playbook comments for detailed results.</p>"
                }
              },
              "runAfter": {
                "Phase_3_Notify_SOC": ["Succeeded", "Failed"],
                "Catch_Phase_3_Errors": ["Succeeded", "Skipped"]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "ForcePasswordResetPlaybookId": {
              "type": "String",
              "defaultValue": "[parameters('ForcePasswordResetPlaybookId')]"
            },
            "RevokeSessionsPlaybookId": {
              "type": "String",
              "defaultValue": "[parameters('RevokeSessionsPlaybookId')]"
            },
            "EnforceMFAPlaybookId": {
              "type": "String",
              "defaultValue": "[parameters('EnforceMFAPlaybookId')]"
            },
            "BlockConditionalAccessPlaybookId": {
              "type": "String",
              "defaultValue": "[parameters('BlockConditionalAccessPlaybookId')]"
            },
            "IsolateDevicePlaybookId": {
              "type": "String",
              "defaultValue": "[parameters('IsolateDevicePlaybookId')]"
            },
            "NotifySOCPlaybookId": {
              "type": "String",
              "defaultValue": "[parameters('NotifySOCPlaybookId')]"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[variables('sentinelConnectionId')]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
