playbooks/SpyCloud-NotifyUser.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "SpyCloud-NotifyUser",
            "metadata": {
                "description": "Name of the Logic App playbook"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources"
            }
        },
        "workspaceName": {
            "type": "string",
            "metadata": {
                "description": "Microsoft Sentinel workspace name"
            }
        }
    },
    "variables": {
        "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureSentinelConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('azureSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('office365ConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionNotification",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Extract_Entities": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/get",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']"
                                }
                            },
                            "runAfter": {}
                        },
                        "Filter_Account_Entities": {
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Extract_Entities')?['entities']",
                                "where": "@equals(item()?['kind'], 'Account')"
                            },
                            "runAfter": {
                                "Extract_Entities": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Notified_Users": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "notifiedUsers",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Filter_Account_Entities": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Scope_Notify_Users": {
                            "type": "Scope",
                            "actions": {
                                "For_Each_Account": {
                                    "type": "Foreach",
                                    "foreach": "@body('Filter_Account_Entities')",
                                    "actions": {
                                        "Compose_User_Email": {
                                            "type": "Compose",
                                            "inputs": "@coalesce(items('For_Each_Account')?['properties']?['userPrincipalName'], concat(items('For_Each_Account')?['properties']?['accountName'], '@', items('For_Each_Account')?['properties']?['upnSuffix']))",
                                            "runAfter": {}
                                        },
                                        "Send_User_Notification": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail",
                                                "body": {
                                                    "To": "@{outputs('Compose_User_Email')}",
                                                    "Subject": "Security Notice: Action Required - Credential Exposure Detected",
                                                    "Body": "<html><head><style>body{font-family:Segoe UI,Arial,sans-serif;margin:0;padding:0;background-color:#f4f4f4}table{border-collapse:collapse;width:100%}.container{max-width:600px;margin:0 auto;background:#fff}.header{background:linear-gradient(135deg,#1a1a2e 0%,#16213e 100%);color:#fff;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.header .logo-text{font-size:12px;opacity:0.8;margin-top:5px}.content{padding:30px}.alert-box{background:#fff3cd;border:1px solid #ffc107;border-radius:4px;padding:15px;margin-bottom:20px}.action-box{background:#e3f2fd;border:1px solid #2196f3;border-radius:4px;padding:15px;margin:20px 0}.action-box h3{margin-top:0;color:#1565c0}.footer{background:#f5f5f5;padding:20px;text-align:center;font-size:11px;color:#888}</style></head><body><div class='container'><div class='header'><h1>Security Notice</h1><div class='logo-text'>Powered by SpyCloud</div></div><div class='content'><p>Dear User,</p><div class='alert-box'><strong>Important:</strong> Our security monitoring has detected that credentials associated with your account may have been exposed in a data breach.</div><p>Our security team has identified that login credentials linked to your corporate account (<strong>@{outputs('Compose_User_Email')}</strong>) were found in a recently discovered data breach. This does not necessarily mean your corporate systems have been compromised, but it does mean that your credentials may be at risk.</p><div class='action-box'><h3>Required Actions</h3><ol><li><strong>Change your password immediately</strong> - Use a strong, unique password that you have not used before.</li><li><strong>Enable multi-factor authentication (MFA)</strong> - If not already enabled, set up MFA on your account.</li><li><strong>Review your account activity</strong> - Check for any unauthorized access or suspicious activity.</li><li><strong>Update reused passwords</strong> - If you used the same password on other services, change those as well.</li></ol></div><p>If you need assistance or have questions, please contact the IT Security team immediately.</p><p>This is an automated security notification. Your security team has already been alerted and is monitoring the situation.</p></div><div class='footer'><p>This message was sent by your organization's security monitoring system.</p><p>SpyCloud Sentinel Integration</p></div></div></body></html>",
                                                    "Importance": "High"
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_User_Email": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Append_Notified_User": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "notifiedUsers",
                                                "value": "@outputs('Compose_User_Email')"
                                            },
                                            "runAfter": {
                                                "Send_User_Notification": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "runAfter": {}
                                }
                            },
                            "runAfter": {
                                "Initialize_Notified_Users": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Scope_Notify_Users_Catch": {
                            "type": "Scope",
                            "actions": {
                                "Add_Comment_Notification_Failure": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p><strong>SpyCloud NotifyUser:</strong> User notification failed for one or more users. Successfully notified: @{join(variables('notifiedUsers'), ', ')}. Please check the playbook run for details.</p>"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope_Notify_Users": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            }
                        },
                        "Add_Comment_Success": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p><strong>SpyCloud NotifyUser:</strong> Credential exposure notification emails sent successfully to: @{join(variables('notifiedUsers'), ', ')}</p>"
                                }
                            },
                            "runAfter": {
                                "Scope_Notify_Users": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                                "connectionName": "[variables('azureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        },
        "logicAppPrincipalId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
        }
    }
}