playbooks/SpyCloud-EnrichIncident.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-EnrichIncident",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "spycloudApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "SpyCloud API key for breach data lookups"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace name"
      }
    }
  },
  "variables": {
    "azureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('azureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            },
            "spycloudApiKey": {
              "type": "SecureString"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionNotification",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/get",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {}
            },
            "Filter_Account_Entities": {
              "type": "Query",
              "inputs": {
                "from": "@body('Extract_Entities')?['entities']",
                "where": "@equals(item()?['kind'], 'Account')"
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_Enrichment_Summary": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "enrichmentSummary",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {
                "Filter_Account_Entities": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_Total_Exposures": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "totalExposures",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_Enrichment_Summary": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Enrich_With_SpyCloud": {
              "type": "Scope",
              "actions": {
                "For_Each_Account": {
                  "type": "Foreach",
                  "foreach": "@body('Filter_Account_Entities')",
                  "actions": {
                    "Compose_Email_Address": {
                      "type": "Compose",
                      "inputs": "@coalesce(items('For_Each_Account')?['properties']?['userPrincipalName'], concat(items('For_Each_Account')?['properties']?['accountName'], '@', items('For_Each_Account')?['properties']?['upnSuffix']))",
                      "runAfter": {}
                    },
                    "Call_SpyCloud_API": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://api.spycloud.io/enterprise-v2/breach/data/emails/@{outputs('Compose_Email_Address')}",
                        "headers": {
                          "X-API-Key": "@parameters('spycloudApiKey')",
                          "Accept": "application/json"
                        }
                      },
                      "runAfter": {
                        "Compose_Email_Address": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Parse_SpyCloud_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Call_SpyCloud_API')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "hits": {
                              "type": "integer"
                            },
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "source_id": {
                                    "type": "integer"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "password_plaintext": {
                                    "type": "string"
                                  },
                                  "password_type": {
                                    "type": "string"
                                  },
                                  "target_url": {
                                    "type": "string"
                                  },
                                  "spycloud_publish_date": {
                                    "type": "string"
                                  },
                                  "severity": {
                                    "type": "integer"
                                  },
                                  "document_id": {
                                    "type": "string"
                                  },
                                  "infected_time": {
                                    "type": "string"
                                  },
                                  "target_domain": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Call_SpyCloud_API": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Increment_Total_Exposures": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "totalExposures",
                        "value": "@body('Parse_SpyCloud_Response')?['hits']"
                      },
                      "runAfter": {
                        "Parse_SpyCloud_Response": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Build_User_Summary": {
                      "type": "Compose",
                      "inputs": "<tr><td>@{outputs('Compose_Email_Address')}</td><td>@{body('Parse_SpyCloud_Response')?['hits']}</td><td>@{if(greater(length(body('Parse_SpyCloud_Response')?['results']), 0), body('Parse_SpyCloud_Response')?['results'][0]?['spycloud_publish_date'], 'N/A')}</td><td>@{if(greater(length(body('Parse_SpyCloud_Response')?['results']), 0), body('Parse_SpyCloud_Response')?['results'][0]?['severity'], 'N/A')}</td></tr>",
                      "runAfter": {
                        "Increment_Total_Exposures": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Append_To_Summary": {
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "enrichmentSummary",
                        "value": "@{outputs('Build_User_Summary')}"
                      },
                      "runAfter": {
                        "Build_User_Summary": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Initialize_Total_Exposures": [
                  "Succeeded"
                ]
              }
            },
            "Scope_Enrichment_Catch": {
              "type": "Scope",
              "actions": {
                "Add_Comment_Enrichment_Failure": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><strong>SpyCloud EnrichIncident:</strong> Failed to enrich incident with SpyCloud data. Please check the playbook run history and verify API key validity.</p>"
                    }
                  }
                }
              },
              "runAfter": {
                "Scope_Enrich_With_SpyCloud": [
                  "Failed",
                  "TimedOut"
                ]
              }
            },
            "Add_Enrichment_Comment": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>SpyCloud Enrichment Summary</strong></p><p><strong>Total Exposures Found:</strong> @{variables('totalExposures')}</p><table border='1' cellpadding='5' cellspacing='0' style='border-collapse:collapse;width:100%'><tr style='background:#1a1a2e;color:#fff'><th>Email</th><th>Exposures</th><th>Latest Publish Date</th><th>Severity</th></tr>@{variables('enrichmentSummary')}</table><p><em>Data provided by SpyCloud Enterprise API</em></p>"
                }
              },
              "runAfter": {
                "Scope_Enrich_With_SpyCloud": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureSentinelConnectionName'))]",
                "connectionName": "[variables('azureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "spycloudApiKey": {
            "value": "[parameters('spycloudApiKey')]"
          }
        }
      },
      "tags": {
        "hidden-SentinelTemplateName": "SpyCloud-EnrichIncident",
        "hidden-SentinelTemplateVersion": "2.0.0"
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
    }
  },
  "metadata": {
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    }
  }
}