Solutions/SpyCloud Identity Exposure Intelligence/Playbooks/SpyCloud-Copilot-Triage/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "SpyCloud \u2014 Copilot-Powered Incident Triage",
    "description": "Logic App that auto-triages SpyCloud Sentinel incidents using Security Copilot prompts. Triggered by Sentinel automation rule, enriches incidents with SpyCloud exposure data, classifies severity, and writes investigation comments.",
    "version": "1.0.0",
    "author": {
      "name": "SpyCloud"
    },
    "support": {
      "tier": "Community"
    },
    "categories": {
      "domains": [
        "Security - Automation (SOAR)"
      ]
    }
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "SpyCloud-Copilot-Triage",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "SentinelConnectionName": "azuresentinel-spycloud-triage",
    "CopilotConnectionName": "securitycopilot-spycloud-triage",
    "SentinelConnectionApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
    "CopilotConnectionApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/securitycopilot')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('SentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Sentinel - SpyCloud Triage",
        "api": {
          "id": "[variables('SentinelConnectionApiId')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('CopilotConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Security Copilot - SpyCloud Triage",
        "api": {
          "id": "[variables('CopilotConnectionApiId')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "tags": {
        "solution": "SpyCloud-Sentinel-Supreme",
        "version": "13.0",
        "hidden-SentinelTemplateName": "SpyCloud-Copilot-Triage",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('CopilotConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_SessionId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "SessionId",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {}
            },
            "Extract_Entities": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/get",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {
                "Initialize_SessionId": [
                  "Succeeded"
                ]
              }
            },
            "Parse_Account_Entities": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Extract_Entities')?['accounts']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string"
                      },
                      "UPNSuffix": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Extract_Entities": [
                  "Succeeded"
                ]
              }
            },
            "For_Each_Account": {
              "type": "Foreach",
              "foreach": "@body('Parse_Account_Entities')",
              "actions": {
                "Build_Email": {
                  "type": "Compose",
                  "inputs": "@concat(items('For_Each_Account')?['Name'], '@', items('For_Each_Account')?['UPNSuffix'])"
                },
                "Copilot_Step1_Investigate": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/prompt",
                    "body": {
                      "PromptContent": "Search SpyCloud exposures for @{outputs('Build_Email')} and provide a severity assessment with exposure count, plaintext passwords found, infected devices, and whether remediation actions have been taken. Include MITRE ATT&CK technique mapping.",
                      "SessionId": "@variables('SessionId')",
                      "Plugins": [
                        "SpyCloud Sentinel Threat Intelligence"
                      ],
                      "DirectSkillName": "GetUserExposures"
                    }
                  },
                  "runAfter": {
                    "Build_Email": [
                      "Succeeded"
                    ]
                  }
                },
                "Save_SessionId": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SessionId",
                    "value": "@body('Copilot_Step1_Investigate')?['sessionId']"
                  },
                  "runAfter": {
                    "Copilot_Step1_Investigate": [
                      "Succeeded"
                    ]
                  }
                },
                "Copilot_Step2_Classify": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/prompt",
                    "body": {
                      "PromptContent": "Based on the SpyCloud exposure findings above, classify this incident as Critical, High, Medium, or Low. Explain your reasoning in exactly 2 sentences. Then list the top 3 recommended actions.",
                      "SessionId": "@variables('SessionId')"
                    }
                  },
                  "runAfter": {
                    "Save_SessionId": [
                      "Succeeded"
                    ]
                  }
                },
                "Add_Incident_Comment": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<h3>\ud83d\udee1\ufe0f SpyCloud SCORCH \u2014 Automated Triage</h3><p><strong>User:</strong> @{outputs('Build_Email')}</p><hr/><h4>Exposure Analysis</h4><p>@{body('Copilot_Step1_Investigate')?['EvaluationResult']}</p><hr/><h4>Classification & Actions</h4><p>@{body('Copilot_Step2_Classify')?['EvaluationResult']}</p><hr/><p><em>Auto-generated by SpyCloud Copilot Triage Playbook v13.0</em></p>"
                    }
                  },
                  "runAfter": {
                    "Copilot_Step2_Classify": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Parse_Account_Entities": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                "connectionName": "[variables('SentinelConnectionName')]",
                "id": "[variables('SentinelConnectionApiId')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "securitycopilot": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('CopilotConnectionName'))]",
                "connectionName": "[variables('CopilotConnectionName')]",
                "id": "[variables('CopilotConnectionApiId')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "logicAppId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "managedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'full').identity.principalId]"
    }
  }
}